.sg-nav {
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sg-nav .sg-nav-item {
  cursor: pointer;
  border-bottom: 0;
  border-right: 1px solid $sg-tint;
  float: left;
  position: relative;
}

.svg-nav .sg-nav-item .sg-nav-sub {
  position: absolute;
  top: $offset-top;
  left: 0;
}
