node_modules/**
.bundle/**
script/ruby/**
ruby/**
.DS_Store
infl-patternlab/source/js/infl-components.js
infl-patternlab/source/css/style.css

infl-fonts/influicons.eot
infl-fonts/influicons.svg
infl-fonts/influicons.ttf
infl-fonts/influicons.woff
