.pt-popover2 { //replace namespacing with css modules
  position: relative;
  display:  inline-block;

  .popover-element {
    cursor:  pointer;
    display: inline-block;
  }
  .popover-content {
    position:     absolute;
    box-sizing: border-box;
    color:        #000;
    font-size:    13px;
    display:      block;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    & > * {
      box-sizing: border-box;
      max-width: 100%;
    }
  }
  .popover-arrow-container {
    width:      100%;
    text-align: center;
    position:   absolute;
  }
  .popover-arrow {
    position:      relative;
    display:       inline-block;
    width:         0px;
    height:        0px;
    border-left:   10px solid transparent;
    border-right:  10px solid transparent;
    border-top:    10px solid #ccc;
    border-bottom: 0px;

    &.inner {
      border-top: 10px solid white;
      position:   absolute;
      z-index:    100;
      right:      -10px;
      bottom:     1px;
      &.no-border {
        bottom: 0px;
      }
    }
  }
  .bottom .popover-arrow {
    border-bottom: 10px solid #ccc;
    border-top:    0px;

    &.inner {
      border-bottom: 10px solid white;
      bottom:        auto;
      top:           1px;
      &.no-border {
        top: 0px;
      }
    }
  }
}
