@import '~patternity/lib/shared-scss/theme';

.pt-radio-button {
  display: inline-block;
  line-height: 24px;

  .stylized-radio-button {
    display: inline-block;
    height : 18px;
    width: 18px;
    border: 1px solid $light-grey;
    background-color: $lighter-grey;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
  }

  .pt-radio-label {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }

  &.disabled {
    .pt-native-radio-button:checked + {
      .stylized-radio-button {
        &:before {
          background-color: $light-grey;
        }
      }
    }
  }

  .pt-native-radio-button {
    visibility: hidden;
    position: relative;
    left: -1000px;
  }

  .pt-native-radio-button:checked + {
   .stylized-radio-button {
      &:before {
        content: "";
        background-color: $dark-grey;
        position: absolute;
        top: 4px;
        left: 4px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
      }
    }
  }
}

.pt-radio-button-group {
  display: inline-block;

  &.inline {
    .pt-radio-button {
      margin-right: 20px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &.stacked {
    .pt-radio-button {
      display: block;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
