@import '~patternity/lib/shared-scss/theme';
@import '~patternity/lib/icon/icon.scss';

/* move to its own css file*/
.pt-simple-popover {
  position: absolute;
  display: none;

  &.open {
    display: block;
  }
}


.pt-multi-select {
  position: relative;
  display: inline-block;
  height: auto;
  min-height: 2.5em;
  min-width: 150px;

  .pt-multi-select-arrow {
    position: absolute;
    font-size: 20px;
    top: 7px;
    right: 5px;
    z-index: 2;
  }

  .clear-all {
    position: absolute;
    right: 30px;
    top: 7px;
    font-size: 20px;
    display: none;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }

    &.show {
      display: block;
    }
  }

  .multi-select {
    display: block;
    padding-right: 55px;
    min-height: 30px;
    z-index: 1;

    .type-ahead {
      border-radius: 0px;
      border: 0px;
      line-height: 2em;
      height: 2em;
      margin-top: 3px;
      width: 10px;
      background-color: transparent;

      &:focus {
        outline: 0;
      }
    }

    .selected-options {
      display: inline-block;

      .placeholder-text {
        color: $light-grey;
        position: absolute;
        top: 10px;
        left: 15px;
      }

      .selected-option {
        display: inline-block;
        padding: 5px 30px 5px 10px;
        background-color: $lighter-grey;
        position: relative;
        margin: 3px 5px 3px 0px;

        &:before {
          @include ic-close();
          display: block;
          position: absolute;
          font-size: 16px;
          top: 6px;
          right: 5px;
          z-index: 1;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .pt-multi-select-native{
    position: absolute;
    left: -10000px;
  }

  .pt-simple-popover {
    left: -1px;
    border: 1px solid $light-grey;
    border-top-color: #fff;
    border-radius: 2px;
    background-color: #fff;
    min-width: 150px;
    display: none;
    padding-top: 5px;

    &.open {
      display: block;
    }

    .pt-multi-select-option {
      display: block;
      padding: 5px 10px;

      &.hide {
        display: none;
      }

      &.has-focus {
        background-color: $lighter-grey;
        cursor: pointer;
      }
    }
  }
}

.ie8 {
  .pt-multi-select {
    .multi-select {
      .type-ahead {
        display: none;
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .pt-multi-select {
    .multi-select {
      .type-ahead {
        display: none;
      }
    }
  }
}
