<section class="pattern-section">
  <header>
    <h3>text fields</h3>
  </header>

  <h4>Text Input</h4>
  <span id="text-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input"
      };

      inflComp.textInput(props, "text-input-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" &gt;
    </code>
  </pre>

  <h4>Required Input</h4>
  <span id="text-input-required-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input",
        required : true,
      };

      inflComp.textInput(props, "text-input-required-pattern");
    })();
  </script>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" required={true} &gt;
    </code>
  </pre>

  <h4>Password</h4>
  <span id="password-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "password",
        placeholder : "Type your Password",
      };

      inflComp.textInput(props, "password-input-pattern");
    })();
  </script>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="password" placeholder="Type your Password" &gt;
    </code>
  </pre>

  <h4>Web Address</h4>
  <span id="webaddress-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "url",
        placeholder : "http://yoursite.com",
      };

      inflComp.textInput(props, "webaddress-input-pattern");
    })();
  </script>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="url" placeholder="http://yoursite.com" &gt;
    </code>
  </pre>

  <h4>Email Address</h4>
  <span id="email-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "email",
        placeholder : "name@email.com",
      };

      inflComp.textInput(props, "email-input-pattern");
    })();
  </script>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="email" placeholder="name@email.com" &gt;
    </code>
  </pre>

  <h4>Search</h4>
  <span id="search-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "search",
        placeholder : "Enter Search Term",
      };

      inflComp.textInput(props, "search-input-pattern");
    })();
  </script>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="search" placeholder="Enter Search Term" &gt;
    </code>
  </pre>

  <h4>Number Input</h4>
  <span id="number-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "number",
        placeholder : "Enter a Number",
        pattern : "[0-9]*",
      };

      inflComp.textInput(props, "number-input-pattern");
    })();
  </script>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="number" placeholder="Enter a Number"  pattern="[0-9]*" &gt;
    </code>
  </pre>

  <h4>Text Area</h4>
  <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"&gt;&lt;/textarea&gt;
    </code>
  </pre>

  <h4>Error Input</h4>
  <span id="error-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input",
        message : "Must be at least 3 characters long.",
        error : true,
      };

      inflComp.textInput(props, "error-input-pattern");
    })();
  </script>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" error={true} message="Must be at least 3 characters long." /&gt;
    </code>
  </pre>

  <h4>Valid</h4>
  <span id="valid-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input",
        valid : true
      };

      inflComp.textInput(props, "valid-input-pattern");
    })();
  </script>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" valid={true} /&gt;
    </code>
  </pre>

  <h4>Label</h4>
  <label for="label-test">Field Label:</label>
  <input id="text" type="text" placeholder="Text Input">

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;label for="label-test"&gt;Field Label:&lt;/label&gt;
      &lt;input id="text" name="label-test" type="text" placeholder="Text Input"&gt;
    </code>
  </pre>

</section>
