<div id="text-input-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.TextInputPattern, {}),
      document.getElementById("text-input-pattern")
    );
  })();
</script>


<section class="pattern-section">
  <h4>Text Area</h4>
  <textarea rows="8" cols="48" placeholder="Enter your message here"></textarea>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;textarea rows="8" cols="48" placeholder="Enter your message here"&gt;&lt;/textarea&gt;
    </code>
  </pre>

</section>
