<section class="pattern-section">
  <header>
    <h3>text fields</h3>
  </header>

  <h4>Text Input</h4>
  <input id="text" type="text" placeholder="Text Input">

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;input id="text" type="text" placeholder="Text Input" &gt;
    </code>
  </pre>

  <h4>Password</h4>
  <input id="password" type="password" placeholder="Type your Password">

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;input id="password" type="password" placeholder="Type your Password" &gt;
    </code>
  </pre>

  <h4>Web Address</h4>
  <input id="webaddress" type="url" placeholder="http://yoursite.com">

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;input id="webaddress" type="url" placeholder="http://yoursite.com"&gt;
    </code>
  </pre>

  <h4>Email Address</h4>
  <input id="emailaddress" type="email" placeholder="name@email.com">

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;input id="emailaddress" type="email" placeholder="name@email.com"&gt;
    </code>
  </pre>

  <h4>Search</h4>
  <span class="search-input">
    <input id="search" type="search" placeholder="Enter Search Term">
  </span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="search-input"&gt;
        &lt;input id="search" type="search" placeholder="Enter Search Term"&gt;
      &lt;/span&gt;
    </code>
  </pre>

  <h4>Number Input</h4>
  <input id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*">

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;input id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*"&gt;
    </code>
  </pre>

  <h4>Text Area</h4>
  <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"&gt;&lt;/textarea&gt;
    </code>
  </pre>

  <h4>Error Input</h4>
  <input class="is-error" type="text" placeholder="Text Input">

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;input class="is-error" type="text" placeholder="Text Input"&gt;
    </code>
  </pre>

  <h4>Valid</h4>
  <input  class="is-valid" type="text" placeholder="Text Input">

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;input  class="is-valid" type="text" placeholder="Text Input"&gt;
    </code>
  </pre>

  <h4>Label</h4>
  <label for="label-test">Field Label:</label>
  <input id="text" type="text" placeholder="Text Input">

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;label for="label-test"&gt;Field Label:&lt;/label&gt;
      &lt;input id="text" name="label-test" type="text" placeholder="Text Input"&gt;
    </code>
  </pre>

</section>
