<div id="text-input-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.TextInputPattern, {}),
      document.getElementById("text-input-pattern")
    );
  })();
</script>
