<section class="pattern-section">
  <header>
    <h3>text fields</h3>
  </header>

  <h4>Text Input</h4>
  <span id="text-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input"
      };

      inflComp.textInput(props, "text-input-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" &gt;
    </code>
  </pre>

  <h5 class="code-title">Props</h5>
  <pre class="code">
    <code>
      {
        type: string,           //type of input search, text, password, number, etc.
        placeholder : string,   //placeholder text for the input
        name: string,           //name for the input used with form tag
        id : string,            //html id for the input
        pattern : regex string, //regex used to validate the input value
        message : string,       //displayed under the input used for a hint, error, etc. text
        value : string,         //default value of the input
        required : boolean,     //if true input is marked as required, defaults to false
        error : boolean,        //if true input is highlighted as an error field, defaults to false
        valid : boolean,        //if true input is highlighted as a valid field, defaults to false
        readOnly : boolean,     //if true input is read only but will still submit with a form, defaults to false
        disabled : boolean      //if true input is disabled and will not submit with a form, defautls to false
      }
    </code>
  </pre>

  <h4>Required Input</h4>
  <span id="text-input-required-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input",
        required : true
      };

      inflComp.textInput(props, "text-input-required-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" required={true} &gt;
    </code>
  </pre>

  <h4>Disabled Input</h4>
  <span id="text-input-disabled-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input",
        disabled : true
      };

      inflComp.textInput(props, "text-input-disabled-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" disabled={true} &gt;
    </code>
  </pre>

  <h4>Read Only Input</h4>
  <span id="text-input-read-only-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input",
        readOnly : true,
        value : "read only input"
      };

      inflComp.textInput(props, "text-input-read-only-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" readOnly={true} &gt;
    </code>
  </pre>

  <h4>Password</h4>
  <span id="password-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "password",
        placeholder : "Type your Password",
      };

      inflComp.textInput(props, "password-input-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="password" placeholder="Type your Password" &gt;
    </code>
  </pre>

  <h4>Web Address</h4>
  <span id="webaddress-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "url",
        placeholder : "http://yoursite.com",
      };

      inflComp.textInput(props, "webaddress-input-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="url" placeholder="http://yoursite.com" &gt;
    </code>
  </pre>

  <h4>Email Address</h4>
  <span id="email-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "email",
        placeholder : "name@email.com",
      };

      inflComp.textInput(props, "email-input-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="email" placeholder="name@email.com" &gt;
    </code>
  </pre>

  <h4>Search</h4>
  <span id="search-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "search",
        placeholder : "Enter Search Term",
      };

      inflComp.textInput(props, "search-input-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="search" placeholder="Enter Search Term" &gt;
    </code>
  </pre>

  <h4>Number Input</h4>
  <span id="number-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "number",
        placeholder : "Enter a Number",
        pattern : "[0-9]*",
      };

      inflComp.textInput(props, "number-input-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="number" placeholder="Enter a Number"  pattern="[0-9]*" &gt;
    </code>
  </pre>

  <h4>Error Input</h4>
  <span id="error-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input",
        message : "Must be at least 3 characters long.",
        error : true,
      };

      inflComp.textInput(props, "error-input-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" error={true} message="Must be at least 3 characters long." /&gt;
    </code>
  </pre>

  <h4>Valid</h4>
  <span id="valid-input-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        type: "text",
        placeholder : "Text Input",
        valid : true
      };

      inflComp.textInput(props, "valid-input-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;TextInput type="text" placeholder="Text Input" valid={true} /&gt;
    </code>
  </pre>

  <h4>Label - Stacked</h4>
  <span id="label-input-stacked-pattern"></span>
  <script type="text/javascript">
    (function() {
      var inputProps = {
        type: "text",
        placeholder : "Text Input",
        name : "text-input",
        message : "Hint: Fill in this field."
      };

      var props = {
        layout : "stacked",
        label : "Field Label",
        children : inflComp.React.createElement(inflComp.TextInput, inputProps)
      };

      inflComp.inputLabel(props, "label-input-stacked-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;InputLabel layout="stacked" label="Field Label"&gt;
        &lt;TextInput type="text" placeholder="Text Input" message="Hint: Fill in this field." /&gt;
      &lt;/InputLabel&gt;
    </code>
  </pre>

  <h5 class="code-title">Props</h5>
  <pre class="code">
    <code>
      {
        layout : string,        //determines InputLabel layout is either 'stacked' or 'inline'
        label : "Field Label",  //value of the label
        children : [...]        //input can be TextInput, SelectDropdown, ToggleSwitch, checkbox, etc.
      }
    </code>
  </pre>

  <h4>Label - Inline</h4>
  <span id="label-input-inline-pattern"></span>
  <script type="text/javascript">
    (function() {
      var inputProps = {
        type: "text",
        placeholder : "Text Input",
        name : "text-input",
        message : "Hint: Fill in this field."
      };

      var props = {
        layout : "inline",
        label : "Field Label",
        children : inflComp.React.createElement(inflComp.TextInput, inputProps)
      };

      inflComp.inputLabel(props, "label-input-inline-pattern");
    })();
  </script>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;InputLabel layout="inline" label="Field Label"&gt;
        &lt;TextInput type="text" placeholder="Text Input" message="Hint: Fill in this field." /&gt;
      &lt;/InputLabel&gt;
    </code>
  </pre>

  <h4>Text Area</h4>
  <textarea rows="8" cols="48" placeholder="Enter your message here"></textarea>

  <h5 class="code-title">Code</h5>
  <pre class="code">
    <code>
      &lt;textarea rows="8" cols="48" placeholder="Enter your message here"&gt;&lt;/textarea&gt;
    </code>
  </pre>

</section>
