<section class="pattern-section">
  <header>
    <h3>select</h3>
  </header>

  <label for="select">Select:</label>
  <span class="select-box">
    <select name="select">
        <optgroup label="Option Group">
            <option>Option One</option>
            <option>Option Two</option>
            <option>Option Three</option>
        </optgroup>
    </select>
  </span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="select-box"&gt;
        &lt;select name="select"&gt;
          &lt;optgroup label="Option Group"&gt;
            &lt;option value="1"&gt;Option One&lt;/option&gt;
            &lt;option value="2"&gt;Option Two&lt;/option&gt;
            &lt;option value="3"&gt;Option Three&lt;/option&gt;
          &lt;/optgroup&gt;
        &lt;/select&gt;
      &lt;/span&gt;
    </code>
  </pre>
</section>
