<section class="pattern-section">
  <header>
    <h3>select</h3>
  </header>

  <label for="select">Select:</label>
  <span id="select-dropdown-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        key: "select-dropdown-" + Math.random(),
        name : "select-dropdown",
        onChange : function(event){
          console.log(event.target.value);
        },
        options : [
          {
            name : "Option One",
            value : "1"
          },
          {
            name : "Option Two",
            value : "2",
            selected : true
          },
          {
            name : "Option Three",
            value : "3"
          }
        ]
        // options : [
        //   {
        //     optionGroupLabel : "test label",
        //     options : [
        //       {
        //         name : "Option One",
        //         value : "1"
        //       },
        //       {
        //         name : "Option Two",
        //         value : "2",
        //         selected : true
        //       },
        //       {
        //         name : "Option Three",
        //         value : "3"
        //       }
        //     ]
        //   },
        //   {
        //     optionGroupLabel : "test label two",
        //     options : [
        //       {
        //         name : "Option Four",
        //         value : "4"
        //       },
        //       {
        //         name : "Option Five",
        //         value : "5"
        //       },
        //       {
        //         name : "Option Six",
        //         value : "6"
        //       }
        //     ]
        //   }
        // ]
      };

      inflComp.selectDropdown(props, "select-dropdown-pattern");
    })();
  </script>

  <h4 class="code-title">Code</h4>

  <h5 class="code-title">JSX</h5>
  <pre class="code">
    <code>
      &lt;SelectDropdown key={key} name="select_name" options={options} onChange={handle_change_callback} /&gt;
    </code>
  </pre>

  <h5 class="code-title">Without JSX</h5>
  <pre class="code">
    <code>
      React.render(
        React.createElement(SelectDropdown, props, children),
        {DOM element to append notice to}
      );
    </code>
  </pre>

  <h4 class="code-title">Props</h4>

  <pre class="code">
    <code>
      {
        key: string
        name : string,
        onChange : function,
        ref : string              //ref attribute used by react
        options : [
          {
            name : "Option One",
            value : "1"
          },
          {
            name : "Option Two",
            value : "2",
            selected : true
          },
          {
            name : "Option Three",
            value : "3"
          }
        ]
      }
    </code>
  </pre>
</section>
