<section class="pattern-section">
  <header>
    <h3>select</h3>
  </header>

  <label for="select">Select:</label>
  <span id="select-dropdown-pattern"></span>
  <script type="text/javascript">
    (function() {
      var props = {
        key: "select-dropdown-" + Math.random(),
        name : "select-dropdown",
        onChange : function(value){
          console.log(value);
        },
        options : [
          {
            name : "Option One",
            value : "1"
          },
          {
            name : "Option Two",
            value : "2"
          },
          {
            name : "Option Three",
            value : "3"
          }
        ]
      };

      inflComp.selectDropdown(props, "select-dropdown-pattern");
    })();
  </script>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="select-box"&gt;
        &lt;select name="select"&gt;
          &lt;optgroup label="Option Group"&gt;
            &lt;option value="1"&gt;Option One&lt;/option&gt;
            &lt;option value="2"&gt;Option Two&lt;/option&gt;
            &lt;option value="3"&gt;Option Three&lt;/option&gt;
          &lt;/optgroup&gt;
        &lt;/select&gt;
      &lt;/span&gt;
    </code>
  </pre>
</section>
