<div id="textarea-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.TextareaPattern, {}),
      document.getElementById("textarea-pattern")
    );
  })();
</script>
