<div id="select-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.SelectDropdownPattern, {}),
      document.getElementById("select-pattern")
    );
  })();
</script>
