<div id="toggle-switch-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ToggleSwitchPattern, {}),
      document.getElementById("toggle-switch-pattern")
    );
  })();
</script>
