<div id="checkbox-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.CheckboxPattern, {}),
      document.getElementById("checkbox-pattern")
    );
    })();
</script>
