<div id="radio-button-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.RadioButtonPattern, {}),
      document.getElementById("radio-button-pattern")
    );
    })();
</script>
