<div id="input-label-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.InputLabelPattern, {}),
      document.getElementById("input-label-pattern")
    );
  })();
</script>
