<div id="multi-select-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.MultiSelectPattern, {}),
      document.getElementById("multi-select-pattern")
    );
  })();
</script>
