.pt-tagger {
  input {
    padding: 5px;
    width: 100%;
  }
}

.pt-tagger-taglist {
  @import './tag';

  overflow: hidden;
  list-style: none;
  padding: 0;

  .ic-times:hover {
    cursor: pointer;
  }
}
