.pt-tag {
  float: left;
  padding: 5px 20px 5px 5px;
  margin: 0 2px 2px 0;
  background: #ddd;
  border: 1px solid #ccc;
  position: relative;

  span.pt-tag-close {
    position: absolute;
    top: 6px;
    color: #999;

    &:hover {
      color: #555;
      cursor: pointer;
    }

  }
}
