.pt-tag {
  margin: 0px;
  padding: 2px 10px;
  font-variant: small-caps;
  color: #fff;
  display: block;
  float: left;
  max-width: 75px;
  cursor: pointer;
  font-size: 13px;
  background-color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
