&lt;div class=&quot;theme-font&quot;&gt;&NewLine;  &lt;h3&gt;Font Family&lt;/h3&gt;&NewLine;  &lt;p&gt;&quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;&NewLine;&NewLine;  &lt;h3&gt;Italic&lt;/h3&gt;&NewLine;  &lt;p&gt;&NewLine;    &lt;i&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/i&gt;&NewLine;  &lt;/p&gt;&NewLine;&NewLine;  &lt;h3&gt;Bold&lt;/h3&gt;&NewLine;  &lt;p&gt;&NewLine;    &lt;strong&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/strong&gt;&NewLine;  &lt;/p&gt;&NewLine;&lt;/div&gt;&NewLine;