&lt;p&gt;Primary font: &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;&NewLine;&lt;p&gt;&lt;em&gt;Primary font italic: &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/em&gt;&lt;/p&gt;&NewLine;&lt;p&gt;&lt;strong&gt;Primary font bold: &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;&NewLine;&lt;p class=&quot;font-secondary&quot;&gt;Secondary font: Georgia, Times, &quot;Times New Roman&quot;, serif;&lt;/p&gt;&NewLine;&lt;p class=&quot;font-secondary&quot;&gt;&lt;em&gt;Secondary font italic: Georgia, Times, &quot;Times New Roman&quot;, serif;&lt;/em&gt;&lt;/p&gt;&NewLine;&lt;p class=&quot;font-secondary&quot;&gt;&lt;strong&gt;Secondary font bold: Georgia, Times, &quot;Times New Roman&quot;, serif;&lt;/strong&gt;&lt;/p&gt;