<section class="pattern-section">
  <header>
    <h3>tabs</h3>
  </header>

  <p>The Tabs component handles displaying data in a tab format.  It has one sub-component Tab.</p>

  <h4>Tabs</h4>

  <div id="tabs-pattern"></div>
  <script type="text/javascript">
    (function() {
      function buildTab(tabTitle){
        return inflComp.React.createElement(inflComp.Tabs.Tab, {
          title : tabTitle,
          children : [tabTitle, buildParagraph(), buildParagraph(), buildParagraph(), buildParagraph()]
        });
      }

      function buildParagraph(){
        return inflComp.React.createElement("p", {
          children : ['This is the tab body.', 'This is the tab body.'],
          style : {
            "marginBottom" : "100px"
          }
        })
      }

      var props = {
        children : [buildTab("First Tab"), buildTab("Second Tab"), buildTab("Third Tab")]
      };

      inflComp.React.render(
        inflComp.React.createElement(inflComp.Tabs, props),
        document.getElementById("tabs-pattern")
      );
    })();
  </script>

  <h4 class="code-title">Code</h4>

  <h5 class="code-title">JSX</h5>
  <pre class="code">
    <code>
      &lt;Tabs&gt;
        &lt;Tab title="First Tab"&gt;
          &lt;p&gt;This is the first tabs content.&lt;p/&gt;
        &lt;/Tab&gt;
        &lt;Tab title="Second Tab"&gt;
          &lt;p&gt;This is the first tabs content.&lt;p/&gt;
        &lt;/Tab&gt;
        &lt;Tab title="Third Tab"&gt;
          &lt;p&gt;This is the first tabs content.&lt;p/&gt;
        &lt;/Tab&gt;
      &lt;/Tabs&gt;
    </code>
  </pre>

  <h5 class="code-title">Without JSX</h5>
  <pre class="code">
    <code>
      React.render(
        React.createElement(Tabs, props),
        {DOM element to append tabs to}
      );
    </code>
  </pre>

  <h4 class="code-title">Props</h4>

  <pre class="code">
    <code>
      {
        id : string,            //id for the tab component
        key : string,           //react key of the tabs.  defaults to a unique value
        openTabIndex : integer, //index of which tab will be open first. starts at 0 index
        children : [...]        // array of Tabs.Tab components
      }
    </code>
  </pre>

  <h4>Tabs - Tab</h4>

  <h4 class="code-title">Code</h4>

  <h5 class="code-title">JSX</h5>
  <pre class="code">
    <code>
      &lt;Tab title="First Tab"&gt;
        &lt;p&gt;This is the first tabs content.&lt;p/&gt;
      &lt;/Tab&gt;
    </code>
  </pre>

  <h5 class="code-title">Without JSX</h5>
  <pre class="code">
    <code>
      React.render(
        React.createElement(Tabs.Tab, props),
        {DOM element to append tab to}
      );
    </code>
  </pre>

  <h4 class="code-title">Props</h4>

  <pre class="code">
    <code>
      {
        title : string,   //title that will be displayed on the tab
        children: [...]   //array of react elements, html, text that will be the tab content
      }
    </code>
  </pre>
</section>
