<div id="tabs-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.TabsPattern, {}),
      document.getElementById("tabs-pattern")
    );
  })();
</script>

