<div id="sidebar-nav-list-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.SidebarNavListPattern, {}),
      document.getElementById("sidebar-nav-list-pattern")
    );
  })();
</script>

