<div id="popover-pattern"></div>
<script type="text/javascript">
    (function() {
        inflComp.React.render(
                inflComp.React.createElement(inflComp.PopoverPattern, {}),
                document.getElementById("popover-pattern")
        );
    })();
</script>

