input[type='email'],
input[type='text'],
input[type='tel'],
textarea,
input[type='password'],
input[type='url'],
input[type='search'],
input[type='number'],
.select-box,
select,
.pt-multi-select{
  border-radius: 2px;
  border: solid 1px $light-grey;
  font-size: inherit;
  font-family: inherit;
  padding-left: 5px;
  height: 2.5em;
}

input[type='email'],
input[type='text'],
input[type='tel'],
input[type='password'],
input[type='url'],
input[type='search'],
input[type='number'] {
  line-height: normal;
}

.select-box,
select {
  line-height: 2.5em;
}

textarea {
  padding-top: 10px;
  height: 10em
}

.is-error {
  input,
  textarea,
  select,
  &.pt-checkbox .stylized-checkbox, // precedence
  .select-box {
    border-color: $error-color;
    color: $error-color;
    background-color: lighten($error-color, 40%);
  }

  .input-message {
    color: $error-color;
  }
}

.is-valid {
  input,
  textarea,
  select,
  .select-box {
    border-color: $success-color;
    color: darken($success-color, 7%);
    background-color: lighten($success-color, 40%);
  }

  .input-message {
    color: $success-color;
  }
}

.is-required {
  position: relative;
  display: inline-block;

  .required-input {
    position: absolute;
    top: 11px;
    left: 2px;
    color: $error-color;
    font-size: 15px;
  }

  input {
    padding-left: 15px;
  }
}

.is-clearable {
  position: relative;
  display: inline-block;

  input {
    padding-right: 30px;
  }

  .clear-input {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    padding: 10px;

    &:hover {
      color: $darker-grey;
    }
  }
}

.has-help {
  position: relative;
  display: inline-block;

  input {
    padding-right: 30px;
  }

  .pt-tooltip {
    position: absolute;
    right: 7px;
    top: 12px;
  }
}


.is-disabled {
  input,
  .select-box {
    background-color: $lighter-grey;
    color: $medium-grey;
  }
}

.input-message {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  margin-left: 5px;
}

.search-input {
  position: relative;
  display: inline-block;

  .search-input {
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 10px;
    font-size: 20px;
  }

  input[type='search'] {
      padding-left: 40px;
      height: 2.21em;
      line-height: 2.21em;
  }
}

.pt-select {
  display: inline-block;

  .select-box {
    display: inline-block;
    position: relative;
    padding-right: 30px;
    width: 100%;

    &:after {
      @include ic-chevron-down();
      display: block;
      position: absolute;
      font-size: 20px;
      top: 0px;
      right: 5px;
      z-index: 1;
    }

    &:focus {
      outline: auto 5px -webkit-focus-ring-color;
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 100%;
    }

    select {
      width: 100%;
      position: absolute;
      z-index: 2;
      left: 0px;
      border: 0px;
      opacity: 0;
    }
  }

  .input-message {

  }
}

.pt-label {
  display: inline-block;
  line-height: 100%;

  &> label {
    .required-icon {
      position: relative;
      top: 1px;
      left: 3px;
      color: $error-color;
    }
  }

  &.multi-input {
    &.inline {
      .pt-input {
        margin-right: 5px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  &.inline > label,
  &.inline > span {
    display: inline-block;
  }

  &.inline > label {
    vertical-align: top;
    padding-top: 0.7em;
    margin-right: 10px;
    line-height: 15px;

    &.multi-line {
      padding-top: 3px;
    }
  }

  &.inline > span {
    &.pt-radio-button-group,
    &.pt-checkbox-group {
      margin-top: 6px;
    }
  }

  &.stacked > label,
  &.stacked > span {
    display: block;
  }

  &.stacked > label {
    margin-bottom: 10px;
    line-height: 15px;
  }

  &.stacked > span,
  &.inline > span {
    &.is-required {
      input {
        padding-left: 5px;
      }

      .ic-asterisk {
        display: none;
      }
    }
  }
}

@import 'form_layout';
@import 'checkbox';
@import 'radio_button';
@import "multi_select";
@import "textarea";
