<div id="accordion-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.AccordionPattern, {}),
      document.getElementById("accordion-pattern")
    );
  })();
</script>
