<div id="modal-dialog-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ModalDialogPattern, {}),
      document.getElementById("modal-dialog-pattern")
    );
  })();
</script>
