<div id="upload-file-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.UploadFilePattern, {}),
      document.getElementById("upload-file-pattern")
    );
  })();
</script>
