<div id="paragraph-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ParagraphPattern, {}),
      document.getElementById("paragraph-pattern")
    );
    })();
</script>
