<div id="fonts-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.FontsPattern, {}),
      document.getElementById("fonts-pattern")
    );
    })();
</script>
