<section class="pattern-section">
  <header>
    <h3>fonts</h3>
  </header>

  <h4>Primary font:</h4>
  <p>
    <span class="font-title">Regular:</span> Proxima Nova Light
  </p>
  <p>
    <span class="font-title">Italic:</span> <em> Proxima Nova Light Italic</em>
  </p>
  <p>
    <span class="font-title">Bold:</span> <strong>Proxima Nova Semibold</strong>
  </p>
</section>



