<div id="alert-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.AlertPattern, {}),
      document.getElementById("alert-pattern")
    );
  })();
</script>
