<div id="detailed-alert-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.DetailedAlertPattern, {}),
      document.getElementById("detailed-alert-pattern")
    );
  })();
</script>
