<section class="pattern-section">
  <header>
    <h3>detailed alert</h3>
  </header>

  <p>The detailed alert can also take a sub component detail.  All other alert data is still valid.  See Alert for more details.</p>

  <h4>Detailed Alert</h4>

  <p>The alert detailed is an additional space to add more data to an alert</p>

  <div id="alert-detailed-pattern"></div>
  <script type="text/javascript">
    (function() {
      var detailed = inflComp.React.createElement(inflComp.DetailedAlert.Detail, {
        title: "Single Sign-On",
        action: inflComp.React.createElement("button", {
          className : "secondary",
          children : "Contact Us"
        }),
        children : [
          "Provide seamless sign up experience for your advocates with our Single Sign-On functionality.  ",
          inflComp.React.createElement("a", {
            href : "#",
            children : ["Learn More"]
          }),
          inflComp.React.createElement("ul", {
            children : [
              inflComp.React.createElement("li", {
                children : ["Advocates will be able to sign up and log in with their existing credentials from your company website"]
              })
            ]
          })
        ]
      });
      var props = {
        key: "alert-" + Math.random(),
        title : "Default Alert",
        children : ["Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", detailed],
        showIcon: true,
        closeable: true,
        type: "success"
      };

      inflComp.React.render(
        inflComp.React.createElement(inflComp.DetailedAlert, props),
        document.getElementById("alert-detailed-pattern")
      );
    })();
  </script>

  <h4 class="code-title">Code</h4>

  <h5 class="code-title">JSX</h5>
  <pre class="code">
    <code>
      &lt;DetailedAlert {...this.props}&gt;
        &lt;p&gt;Your Body&lt;/p&gt;
        &lt;p&gt;Your Body&lt;/p&gt;
        &lt;Alert.Detailed title="Single Sign-On" action={react_element}&gt;
          &lt;p&gt;Your Detailed Body&lt;/p&gt;
        &lt;Alert.Detailed/&gt;
      &lt;/DetailedAlert&gt;

      &lt;DetailedAlert title="Your Title" &gt;
        &lt;p&gt;Your Body&lt;/p&gt;
        &lt;p&gt;Your Body&lt;/p
        &gt;&lt;DetailedAlert.Detail title="Single Sign-On" action={react_element}&gt;
          &lt;p&gt;Your Detailed Body&lt;/p&gt;
        &lt;DetailedAlert.Detail/&gt;
      &lt;/DetailedAlert&gt;
    </code>
  </pre>

  <h5 class="code-title">Without JSX</h5>
  <pre class="code">
    <code>
      React.render(
        React.createElement(DetailedAlert, props, children),
        {DOM element to append detailed alert to}
      );
    </code>
  </pre>

  <h4 class="code-title">Props</h4>

  <pre class="code">
    <code>
      {
        title : "Your Title",
        showIcon : boolean,           // optional defaults to false
        closeable : boolean,          // optional defaults to false
        children: [...                // array of text, html, react elements
          detailed : {                // optional detail section for alerts
            title : string,           // title of details
            action : react element,   // user action associated with details
            children:                 // array of text, html, react elements
          }
        ],
        type : String                 // can be success, error, warning or ''
        showAlert : boolean           // determines if the alert is visible or not
        onClose : function,           // optional defaults to empty function called when alert is closed
      }
    </code>
  </pre>
</section>
