<div id="action-alert-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ActionAlertPattern, {}),
      document.getElementById("action-alert-pattern")
    );
  })();
</script>
