<section class="pattern-section">
  <header>
    <h3>alert - action</h3>
  </header>

  <p>The alerts can also take an additional sub component action.  An Alert with an added action can use all of the alert functionality except for closeable as this area is taken up by the action and Alert.Detailed.</p>

  <h4>Alert - Action</h4>

  <p>The alert action allows you to add a new action to an alert.  It also comes with special styling.</p>

  <div id="alert-action-pattern"></div>
  <script type="text/javascript">
    (function() {
      var action = inflComp.React.createElement(inflComp.Alert.Action, {
        title: "Do Something",
        onClick : function(){}
      });
      var props = {
        key: "alert-" + Math.random(),
        title : "Default Alert",
        children : ["Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", action],
        showIcon: true,
        closeable: true,
        type: "success"
      };

      inflComp.React.render(
        inflComp.React.createElement(inflComp.Alert, props),
        document.getElementById("alert-action-pattern")
      );
    })();
  </script>

  <h4 class="code-title">Code</h4>

  <h5 class="code-title">JSX</h5>
  <pre class="code">
    <code>
      &lt;Alert {...this.props}&gt;
        &lt;p&gt;Your Body&lt;/p&gt;
        &lt;p&gt;Your Body&lt;/p&gt;
        &lt;Alert.Action title="Do Something" onClick={on_click_callback} /&gt;
      &lt;/Alert&gt;
    </code>
  </pre>

  <h5 class="code-title">Without JSX</h5>
  <pre class="code">
    <code>
      React.render(
        React.createElement(Alert.Action, props, children),
        {DOM element to append alert action to}
      );
    </code>
  </pre>

  <h4 class="code-title">Props</h4>

  <pre class="code">
    <code>
      {
        title : string,         // action button title
        onClock : function,     // callback function for when the action is clicked
      }
    </code>
  </pre>
</section>
