<div id="stats-bar-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.StatsBarPattern, {}),
      document.getElementById("stats-bar-pattern")
    );
  })();
</script>
