@import 'bourbon';
@import 'neat';
@import '~patternity/lib/shared-scss/theme.scss';
// turn off anti-aliasing for these elements
ul.dropdown-menu, UL.nav {
  -webkit-font-smoothing: auto;
}
// add bold to compensate for sharper text
span.label {
  font-weight: bold;
}

/* new css*/

// Bourbon Neat Grid Settings
$column: 70px;
$gutter: 30px;
$grid-columns: 13;
$max-width: 1024px;
$visual-grid: true;
$mobile: new-breakpoint(max-width 640px);

p {
    margin: 0;

    &.description {
        font-size: 0.9em;
    }
}

h4.list-title {
    color: rgb(153,153,153);
    text-transform: uppercase;
    font-weight: normal;
    padding-left: $spacing-small;
    margin-bottom: $spacing-xsmall;
    font-size: 0.8em;
}

.panel {
    @include outer-container;
}

.panel-content {
  @include span-columns(10);
  @include omega();

  background-color: white;
  box-sizing: border-box;

  &.no-colour {
    background-color: transparent;
  }

  .panel-content-inner {
    padding: $spacing-large;
    min-width: 330px;
  }

  @include media($mobile) {
    @include row();
    float: none;
    width: 100%;
  }
}



/*body {
    font-size: $baseline-font-size !important;
    line-height: $baseline;
}*/
