.clear {
  transform: rotate(45deg);
  display: inline-block;
  margin-left: 0.2em;
  color: red;
  font-weight: bold;
  background: none;
  font-size: x-large;
  line-height: 1.2;
}

.inputBox {
  border-color: #F2F2F2;
  border-width: thin;
  border-radius: 8px;
  display: flex;
  padding: 0 8px;
}
