<section id="welcome">
  <h1 class="logo">
    <span>Influitive</span>
  </h1>
  <h2 class="tag-line">
    <span><strong>patternlab:</strong> a place for designers and craftsman</span>
  </h2>
  <h3 class="inf-pattern">find your patterns</h3>
  <span class="find-pattern-icon fa fa-arrow-circle-o-down"></span>
</section>
<!-- section id="why-lab">
  <div class="lab-content">
    <h2>
      <strong>Why Pattern Lab?</strong>
    </h2>
    <p>Pattern Lab is a collection of tools to help you create atomic design systems.</p>

    <h4>
      <strong>What does that mean?</strong>
    </h4>
    <p>It means that the pattern lab contains our online brand.  It is the source for our style guide and all the UI elements that we use to build our app.</p>

    <h4>
      <strong>Why are we doing this?</strong>
    </h4>
    <p>For one it's awesome... but it's also to create consistency.  Which in turn will help create customer confidence in our product.</p>
  </div>
</section>
<section id="lab-features">
  <div class="lab-content">
    <h2>
      <strong>What can it do?</strong>
    </h2>

    <h4>
      <strong>Show responsive nature of components</strong>
    </h4>
    <p>Using the grey bar on the right hand side you can adust the width of the pattern lab.  This will show how components are displayed and interact at different screen resolutions.</p>

    <h4>
      <strong>Give sample pages</strong>
    </h4>
    <p>Why does this matter?  It means that we can adjust our branding and see how it will affect our app.  Not only for components, but for pages as a whole.</p>
  </div>
</section-->
