<div id="content-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ContentPattern, {}),
      document.getElementById("content-pattern")
    );
  })();
</script>

