@font-face {
    font-family: "influicons";
    src: url('influicons.eot');
    src: url('influicons.eot?#iefix') format('eot'),
    url('influicons.woff') format('woff'),
    url('influicons.ttf') format('truetype'),
    url('influicons.svg#influicons') format('svg');
    font-weight: normal;
    font-style: normal;
}