$transition-in-time : 0.8s;
$transition-out-time : 0.3s;

.accordion {
  padding: 0px;

  .accordion-section {
    margin-bottom: 1px;
    list-style-type: none;

    .section-heading {
      background-color: #cccccc;
      padding: 10px;
      font-size: 1.1em;
      overflow: hidden;
      cursor: pointer;
      color: #333333;
      margin: 0px;
      font-weight: normal;

      &.open {
        .edit-section {
          opacity: 0;
          @include transition(opacity $transition-out-time ease-out);
        }
      }

      &.open + .section-details {
        max-height: 1000px;
        @include transition(max-height $transition-in-time ease-in);
      }

      &.disabled {
          color: #999999;
          cursor: auto;

          &:hover {
            background-color: #cccccc;
          }

          &:hover  + .section-details{
            border-color: #cccccc;
          }
      }

      &:hover {
        background-color: #e2e2e2;
        @include transition(background-color $transition-out-time ease-in);
      }

      &:hover  + .section-details{
        border-color: #e2e2e2;
        @include transition(border-color $transition-out-time ease-in);
      }
    }
    .section-details {
      border: 1px solid #cccccc;
      max-height: 0;
      @include transition(max-height $transition-out-time ease-out);
      overflow: hidden;

      .section-details-inner {
        padding: $spacing-large;
      }
    }
  }
}
