.alert {
  padding: 10px 20px;
  border-radius: $theme-border-radius-2;
  background-color: lighten($theme-color-primary, 55%);
  position: relative;
  color: $theme-color-primary;

  h4 {
    margin: 0px;
    line-height: 24px;
    font-size: 16px;

    span {
      vertical-align: middle;
    }
  }

  .alert-icon {
    margin-right: 10px;
  }

  .close {
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      color: darken($theme-color-primary, 10%);
      @include transition(color $transition-out-time ease-out)
    }
  }

  &.hasIcon {
    .alert-body {
      padding-left: 26px;
    }
  }

  &.warning {
    background-color: lighten($warning-color, 45%);
    color: darken($warning-color, 10%);

    .close {
      &:hover {
        color: darken($warning-color, 15%);
      }
    }
  }

  &.success {
    background-color: lighten($success-color, 40%);
    color: darken($success-color, 15%);

    .close {
      &:hover {
        color : darken($success-color, 10%);
      }
    }
  }

  &.error {
    background-color: lighten($error-color, 40%);
    color: $error-color;

    .close {
      &:hover {
        color : darken($error-color, 10%);
      }
    }
  }
}
