@import "dependencies_base";

@font-face {
  font-family: "influicons";
  src: url('../infl-fonts/influicons.eot');
  src: url('../infl-fonts/influicons.eot?#iefix') format('eot'),
    url('../infl-fonts/influicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.PreviewArea, .tether-element {
  @import "avatar";
  @import "accordion";
  @import "alert";
  @import "button";
  @import "form";
  @import "tooltip";
  @import "toggle_switch";
  @import "loading";
  @import "modal_dialog";
  @import "tabs";
  @import "sidebar";
  @import "list_picker";
  @import "stats_bar";
  @import "card";
  @import "animations";
  @import "profile-popover";
  @import "popover";
  @import "save-button";
  @import "tag";
  @import "recommended-length";
  @import "pager";
}
