@import '_theme';

.button-group {
  display: inline-block;
  margin: 0;
  position: relative;

  &.inline,
  &.inline-grouped {
    max-width: 100%;
  }

  &.inline {
    button,
    .button {
      margin: 0 5px 5px 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.inline-grouped {
    button,
    .button {
      margin: 0 0 5px 0;
      border-radius: 0;
      border-left-style: solid;
      border-left-width: 1px;

      &:first-child, &.main {
        border-left: 0;
        border-top-left-radius: $theme-border-radius;
        border-bottom-left-radius: $theme-border-radius;
      }

      &:last-child, &.dropdown {
       border-top-right-radius: $theme-border-radius;
       border-bottom-right-radius: $theme-border-radius;
      }
    }
  }

  &.stacked {

  }

  &.stacked-grouped {

  }
}
