$text-button-color : #999999;
$text-button-color-hover : lighten($text-button-color, 10%);

.button,
button {
  margin:0;
  border-radius: $theme-border-radius;
  background-color: $theme-color-primary;
  color: $theme-color-background !important;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  padding: $spacing-small $spacing-large;
  text-align: center;
  box-shadow: 0px 2px darken($theme-color-primary, 10%);

  .ic {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
    margin-left: -5px;
  }

  @include transition (background-color 0.15s ease-in-out);

  &:hover {
    text-decoration:none;
    background-color: lighten($theme-color-primary, 5%);
    color: $theme-color-background;
    box-shadow: 0px 2px $theme-color-primary;
  }

  &.disabled {
    background-color: #cccccc !important;
    color: #999999 !important;
    cursor: auto !important;
    border-style: none !important;
    box-shadow: 0px 2px darken(#cccccc, 10%);

    &:hover {
      background-color: #cccccc !important;
      color: #999999 !important;
      box-shadow: 0px 2px darken(#cccccc, 10%);
    }
  }

  &.important {
    text-decoration:none;
    border-style: none;
    color: white;
    background-color: darken($warning-color, 7%);
    box-shadow: 0px 2px darken($warning-color, 12%);

    &:hover {
      background-color: darken($warning-color, 2%);
      box-shadow: 0px 2px darken($warning-color, 5%);
    }
  }

  &.primary {
    text-decoration:none;
    border-style: none;
    color: white;
    box-shadow: 0px 2px darken($theme-color-primary, 10%);
    background-color: $theme-color-primary;

    &:hover {
      background-color: lighten($theme-color-primary, 5%);
      color: $theme-color-background;
      box-shadow: 0px 2px $theme-color-primary;
    }
  }

  &.success {
    background-color: $success-color;
    border-style: none;
    box-shadow: 0px 2px darken($success-color, 10%);

    &:hover {
      background-color: lighten($success-color, 10%);
      box-shadow: 0px 2px $success-color;
    }
  }

  &.danger {
    background-color: $error-color;
    border-style: none;
    box-shadow: 0px 2px darken($error-color, 10%);

    &:hover {
      background-color: lighten($error-color, 10%);
      box-shadow: 0px 2px $error-color;
    }
  }

  &.text {
    background-color: transparent;
    border: none;
    color: $text-button-color !important;
    @include transition (color 0.15s ease-in-out);
    box-shadow: none;

    &:hover {
      background-color: transparent;
      text-shadow: none;
      color: $text-button-color-hover !important;
      box-shadow: none;
      text-decoration: underline;
    }

    &.inverse {
      color: #fff !important;
      background-color: transparent;

      &:hover {
        color: $light-grey !important;
        background-color: transparent;
      }
    }
  }

  &.secondary {
    background-color: transparent;
    color: darken($text-button-color, 20%) !important;
    border: 1px solid darken($text-button-color, 20%);
    box-shadow: none;

    &:hover {
      background-color: transparent;
      text-shadow: none;
      border: 1px solid $text-button-color;
      color: $text-button-color-hover !important;
      box-shadow: none;
    }

    &.inverse {
      border: 1px solid #fff;
      color: #fff !important;
      box-shadow: none;
      background-color: transparent;

      &:hover {
        color: $light-grey !important;
        border-color: $light-grey;
        box-shadow: none;
        background-color: transparent;
      }
    }
  }
}
