.pt-card {
  box-shadow: 0px 1px 3px 0px $light-grey;
  background-color: #fff;
  position: relative;
  height: 100%;
  width: 100%;

  .pt-card-actions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 10px 20px;
    text-align: center;
    border-top: 1px solid $light-grey;
    background-color: #fff;

    .button-group {
      width: 100%;

      .button,
      button {
        width: calc((100% - 20px) / 2);

        &:last-child {
          margin-left: 10px;
        }
      }

      .button:only-child,
      button:only-child {
        margin: 0px auto;
        margin-left: 0px;
      }
    }
  }
}

.pt-card-container {
  & > .pt-challenge-card {
    display: inline-block;
    vertical-align: top;
    width: calc(94% / 3);
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
  }

  & > .pt-challenge-template-card {
    display: inline-block;
    vertical-align: top;
    width: calc(92% / 4);
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
  }
}

.ie8 {
  .pt-card-container {
    width: 768px;

    & > .pt-challenge-card {
      width: 240px;
    }

    .pt-challenge-card {
      .pt-challenge-image {
        img {
          top: 0px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .pt-card-container {

    & > .pt-challenge-card {
      width: calc(96% / 2);
    }
  }
}

@media only screen and (max-width : 850px) {
  .pt-card-container {
    & > .pt-challenge-template-card {
      width: calc(94% / 3);
    }
  }
}

@media only screen and (max-width : 600px) {
  .pt-card-container {
    & > .pt-challenge-template-card {
      width: calc(96% / 2);
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .pt-card-container {

    & > .pt-challenge-card {
      width: 95%;
      margin: 0px auto 20px;
      display: block;

      &:nth-child(3n) {
        margin-right: auto;
      }

      &:nth-child(2n) {
        margin-right: auto;
      }
    }

    & > .pt-challenge-template-card {
      width: 95%;
      margin: 0px auto 20px;
      display: block;

      &:nth-child(3n) {
        margin-right: auto;
      }

      &:nth-child(2n) {
        margin-right: auto;
      }
    }
  }
}
