.pt-challenge-card {
  position: relative;
  height: 400px;

  & * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .pt-card-notice {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 2px 10px;
    background-color: rgba(68, 68, 68, 0.7); // $darker-grey with opacity change
    color: #fff;
    z-index: 2;
    height: 24px;

    .pt-challenge-status {
      float: left;
      font-size: 12px;
      line-height: 24px;
      display: block;
      height: 24px;

      span {
        vertical-align: middle;
      }

      .status-icon {
        padding-left: 12px;
        position: relative;
      }

      .ic {
        position: absolute;
        top: -5px;
        left: -5px;
        font-size: 15px;
      }
    }

    .pt-card-points {
      float: right;
      font-size: 15px;
      display: block;
      margin-top: 1px;

      .ic {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }

  .pt-challenge-image {
    overflow: hidden;
    height: 120px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    img {
      width: 100%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      vertical-align:top;
    }

    &.no-image {
      height: 24px;

      img {
        display: none;
      }
    }
  }

  .pt-challenge-details {
    padding: 0px 20px;

    .description {
      color: $medium-grey;
      height: 110px;
      overflow: hidden;
    }

    $caseStudyColour : #8533D6;
    $reviewColour : #CCBC0A;
    $surveyColour : #CC0A0A;
    $referralColour : #0753B5;
    $educationalColour : #3F8F03;
    $funColour : #CC7C0C;
    $socialSharingColour : #40B6DE;

    .pt-challenge-type {
      margin: 0px 0px 1.3em;
      padding: 2px 10px;
      font-variant: small-caps;
      color: #fff;
      display: inline-block;
      cursor : pointer;
      font-size: 13px;
      background-color: $dark-grey;

      &.social-sharing {
        background-color: $socialSharingColour;
      }

      &.fun {
        background-color: $funColour;
      }

      &.educational {
        background-color: $educationalColour;
      }

      &.referral {
        background-color: $referralColour;
      }

      &.survey {
        background-color: $surveyColour;
      }

      &.review {
        background-color: $reviewColour;
      }

      &.case-study {
        background-color: $caseStudyColour;
      }
    }
  }
}
