.pt-challenge-card {
  position: relative;
  height: 400px;

  .pt-card-notice {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 2px 10px;
    background-color: rgba(68, 68, 68, 0.7); // $darker-grey with opacity change
    color: #fff;
    z-index: 2;
    height: 24px;

    .pt-challenge-status {
      float: left;
      font-size: 12px;
      line-height: 24px;
      display: block;
      height: 24px;

      span {
        vertical-align: middle;
      }

      .status-icon {
        padding-left: 12px;
        position: relative;
      }

      .ic {
        position: absolute;
        top: -5px;
        left: -5px;
        font-size: 15px;
      }
    }

    .pt-card-points {
      float: right;
      font-size: 15px;
      display: block;
      margin-top: 1px;

      .ic {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }

  .pt-challenge-image {
    overflow: hidden;
    height: 120px;

    img {
      width: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    &.no-image {
      height: 24px;

      img {
        display: none;
      }
    }
  }

  .pt-challenge-details {
    padding: 0px 20px;

    .description {
      color: $medium-grey;
      height: 110px;
      overflow: hidden;

//      &:before {
//        content : "";
//        display: block;
//        width: 100%;
//        height: 10px;
//        position: absolute;
//        left: 0px;
//        top: -11px;
//        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
//        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 68%); /* FF3.6+ */
//        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(68%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
//        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 68%); /* Chrome10+,Safari5.1+ */
//        background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 68%); /* Opera 11.10+ */
//        background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 68%); /* IE10+ */
//        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 68%); /* W3C */
//        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
//      }
    }

    .pt-challenge-type {
      margin: 0px 0px 1.3em;
      padding: 2px 10px;
      font-variant: small-caps;
      color: #fff;
      display: inline-block;
      cursor : pointer;
      font-size: 13px;

      &.webinar {
        background-color: #D6960D;
      }

      &.social {
        background-color: #27B8D9;
      }
    }
  }
}
