@import '_theme';
@import '_icon';

.pt-checkbox {
  display: inline-block;
  line-height: 24px;

  .stylized-checkbox {
    display: inline-block;
    height : 18px;
    width: 18px;
    border: 1px solid $light-grey;
    background-color: $lighter-grey;
    border-radius: $theme-border-radius;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
  }

  .pt-checkbox-label {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;

    .required-icon {
      position: relative;
      top: 1px;
      left: 3px;
      color: $error-color;
    }
  }

  &.isChecked {
    .stylized-checkbox {
      &:before {
        @include ic-check();
        color: $dark-grey;
        position: absolute;
        font-size: 18px;
        top: -3px;
        left: -2.5px;
      }
    }
  }

  &.indeterminate {
    .stylized-checkbox {
      &:before {
        @include ic-minus();
        color: $dark-grey;
        position: absolute;
        font-size: 18px;
        top: -3px;
        left: -2.5px;
      }
    }
  }


  &.disabled {
    .stylized-checkbox {
      &:before {
        color: $light-grey;
      }
    }
  }

  .pt-native-checkbox {
    display: none;
    position: relative;
    left: -1000px;
  }
}

.pt-checkbox-group {
  display: inline-block;

  &.inline {
    .pt-checkbox {
      margin-right: 20px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &.stacked {
    .pt-checkbox {
      display: block;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
