.pt-checkbox {
  display: inline-block;
  line-height: 24px;

  .stylized-checkbox {
    display: inline-block;
    height : 18px;
    width: 18px;
    border: 1px solid $light-grey;
    background-color: $lighter-grey;
    border-radius: $theme-border-radius;
    vertical-align: middle;
    position: relative;
  }

  .pt-checkbox-label {
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle;
  }

  &.isChecked {
    .stylized-checkbox {
//      &:before {
//        content : @include ic-check();
//      }
    }
  }

  &.disabled {

  }

  .pt-native-checkbox {
    display: none;
  }
}
