@font-face {
  font-family: 'Proxima Nova Light';
  src: $path_to_proxima_nova_light_font format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Light Bold';
  src: $path_to_proxima_nova_light_bold_font format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: $path_to_proxima_nova_light_italic_font format('truetype');
}