$body-font-size: 15px;

body {
  font-family: 'Proxima Nova Light', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: $body-font-size;
  color: $darker-grey;
}

strong {
  font-family: 'Proxima Nova Light Bold';
}

em {
  font-family: 'Proxima Nova Light Italic';
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11px;
}
