@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.woff2') format('woff2'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url('../fonts/ProximaNova-LightIt.eot');
  src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-LightIt.woff2') format('woff2'),
  url('../fonts/ProximaNova-LightIt.woff') format('woff'),
  url('../fonts/ProximaNova-LightIt.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  src: url('../fonts/ProximaNova-SemiboldIt.eot');
  src: url('../fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
    url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'),
    url('../fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
}

@font-face {
  font-family: "influicons";
  src: url('../node_modules/infl-icons/lib/fonts/influicons.eot');
  src: url('../node_modules/infl-icons/lib/fonts/influicons.eot?#iefix') format('eot'),
    url('../node_modules/infl-icons/lib/fonts/influicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
