// Note these urls are in a webpack specific format (unfortunately)
// Webpack will look to node_modules with any url prepended with ~
// I couldn't (yet) get webpack to understand a relative url from patternity's perspective

// Note these urls are in a webpack specific format (unfortunately)
// Webpack will look to node_modules with any url prepended with ~
// I couldn't (yet) get webpack to understand a relative url from patternity's perspective

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('~patternity/infl-fonts/ProximaNova-Light.eot');
  src: url('~patternity/infl-fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('~patternity/infl-fonts/ProximaNova-Light.woff2') format('woff2'),
  url('~patternity/infl-fonts/ProximaNova-Light.woff') format('woff'),
  url('~patternity/infl-fonts/ProximaNova-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url('~patternity/infl-fonts/ProximaNova-LightIt.eot');
  src: url('~patternity/infl-fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
  url('~patternity/infl-fonts/ProximaNova-LightIt.woff2') format('woff2'),
  url('~patternity/infl-fonts/ProximaNova-LightIt.woff') format('woff'),
  url('~patternity/infl-fonts/ProximaNova-LightIt.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('~patternity/infl-fonts/ProximaNova-Semibold.eot');
  src: url('~patternity/infl-fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('~patternity/infl-fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('~patternity/infl-fonts/ProximaNova-Semibold.woff') format('woff'),
  url('~patternity/infl-fonts/ProximaNova-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  src: url('~patternity/infl-fonts/ProximaNova-SemiboldIt.eot');
  src: url('~patternity/infl-fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('~patternity/infl-fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
  url('~patternity/infl-fonts/ProximaNova-SemiboldIt.woff') format('woff'),
  url('~patternity/infl-fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
}

@font-face {
  font-family: "influicons";
  src: url('~patternity/infl-fonts/influicons.eot');
  src: url('~patternity/infl-fonts/influicons.eot?#iefix') format('eot'),
    url('~patternity/infl-fonts/influicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
