@font-face {
  font-family: "influicons";
  src: url('~patternity/infl-fonts/influicons.eot');
  src: url('~patternity/infl-fonts/influicons.eot?#iefix') format('eot'),
    url('~patternity/infl-fonts/influicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
