@import './icon_font';

input[type='email'],
input[type='text'],
input[type='tel'],
textarea,
input[type='password'],
input[type='url'],
input[type='search'],
input[type='number'],
.select-box,
select {
  border-radius: 2px;
  border: solid 1px $light-grey;
  font-size: inherit;
  font-family: inherit;
  padding-left: 5px;
  height: 2.5em;
}

input[type='email'],
input[type='text'],
input[type='tel'],
input[type='password'],
input[type='url'],
input[type='search'],
input[type='number'],
.select-box,
select {
  line-height: 2.5em;
}

textarea {
  padding-top: 10px;
}

.is-error {
  input,
  textarea,
  select,
  .select-box {
    border-color: $error-color;
    color: $error-color;
    background-color: lighten($error-color, 40%);
  }

  .input-message {
    color: $error-color;
  }
}

.is-valid {
  input,
  textarea,
  select,
  .select-box {
    border-color: $success-color;
    color: darken($success-color, 7%);
    background-color: lighten($success-color, 40%);
  }

  .input-message {
    color: $success-color;
  }
}

.is-required {
  position: relative;
  display: inline-block;

  .ic {
    position: absolute;
    top: 11px;
    left: 2px;
    color: #c54040;
    font-size: 15px;
  }

  input {
    padding-left: 15px;
  }
}

.is-disabled {
  input {
    background-color: $lighter-grey;
  }
}

.input-message {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  margin-left: 5px;
}

.search-input {
  position: relative;
  display: inline-block;

  .ic {
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 10px;
    font-size: 20px;
  }

  input[type='search'] {
      padding-left: 40px;
      height: 2.21em;
      line-height: 2.21em;
  }
}

.select-box {
  display: inline-block;
  position: relative;
  padding-right: 30px;

  &:after {
    @include ic-chevron-down();
    display: block;
    position: absolute;
    font-size: 20px;
    top: 0px;
    right: 5px;
    z-index: 1;
  }

  &:focus {
    outline: auto 5px -webkit-focus-ring-color;
  }

  select {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0px;
    border: 0px;
    opacity: 0;
  }
}

.pt-label {
  display: inline-block;
  line-height: 100%;

  &.multi-input {
    &.inline {
      .pt-input {
        margin-right: 5px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  &.inline > label,
  &.inline > span {
    display: inline-block;
  }

  &.inline > label {
    vertical-align: top;
    padding-top: 0.7em;
    margin-right: 10px;
    line-height: 15px;

    &.multi-line {
      padding-top: 3px;
    }
  }

  &.stacked > label,
  &.stacked > span {
    display: block;
  }

  &.stacked > label {
    margin-bottom: 10px;
    line-height: 15px;
  }
}

.pt-form {
  overflow: hidden;

  .pt-form-column {
    float: left;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }

    &.column-num-2 {
      width: calc(50% - 10px);

      .small-input,
      .medium-input,
      .large-input {
        .pt-label {
          &.inline {
            label {
              width: 39.5%;
            }

            .pt-input,
            .select-box {
              width: calc(58.5% - 10px);
            }
          }
        }
      }
    }

    &.column-num-3 {
      width: calc(33% - 10px);

      .small-input,
      .medium-input,
      .large-input {
        .pt-label {
          &.inline {
            label {
              width: 60%;
            }

            .pt-input,
            .select-box {
              width: calc(40% - 10px);
            }
          }
        }
      }
    }
  }

  .pt-form-row {
    display: block;
    margin: 10px 0px;
    clear: left;

    &.small-input {
      .pt-label {
        &.inline {
          .pt-input,
          .select-box {
            width: calc(29% - 10px);
          }
        }
      }
    }

    &.medium-input {
      .pt-label {
        &.inline {
          .pt-input,
          .select-box {
            width: calc(51% - 10px);
          }
        }
      }
    }

    &.large-input {
      .pt-label {
        &.inline {
          .pt-input,
          .select-box {
            width: calc(78.9% - 10px);
          }
        }
      }
    }

    .pt-label {
      width: 100%;

      &.inline {
        label {
          width: 19.3%;
          text-align: right;
        }

        .pt-input,
        .select-box {
          width: calc(50% - 10px);

          input,
          select {
            width: 100%;
          }
        }

        &.multi-input {
          .pt-input,
          .select-box {
            width: auto;
          }
        }
      }

      &.stacked {
        label {
          width: 100%;
        }

        .pt-input,
        .select-box {
          width: 100%;

          input,
          select {
            width: 100%;
          }
        }
      }
    }
  }

  .pt-form-actions {
    margin: 10px 1.8% 10px 0px;
    clear: left;
    text-align: right;
    margin-right: 1.8%;

    .button-group {
      margin-right: 0px;
    }
  }
}
