.pt-form {
  overflow: hidden;

  .pt-form-title {
    display: block;
    margin: 10px 0px;
    clear: left;
    overflow: hidden;

    h2 {
      float: left;
      width: 60%;
    }

    .pt-form-title-actions {
      float: right;
      width: 40%;
      margin-top: 0.83em;
      text-align: right;
    }

    .pt-form-title-description {
      clear: left;
      margin-top: 10px;
    }
  }

  .pt-form-column {
    float: left;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }

    &.column-num-2 {
      width: calc(50% - 10px);

      .small-input,
      .medium-input,
      .large-input {
        .pt-label {
          &.inline {
            label {
              width: 39.5%;
            }

            .pt-input,
            .select-box {
              width: calc(58.5% - 10px);
            }
          }
        }
      }
    }

    &.column-num-3 {
      width: calc(33% - 10px);

      .small-input,
      .medium-input,
      .large-input {
        .pt-label {
          &.inline {
            label {
              width: 60%;
            }

            .pt-input,
            .select-box {
              width: calc(40% - 10px);
            }
          }
        }
      }
    }
  }

  .pt-form-row {
    display: block;
    margin: 10px 0px;
    clear: left;

    &.small-input {
      .pt-label {
        &.inline {
          .pt-input,
          .select-box {
            width: calc(29% - 10px);
          }
        }
      }
    }

    &.medium-input {
      .pt-label {
        &.inline {
          .pt-input,
          .select-box {
            width: calc(51% - 10px);
          }
        }
      }
    }

    &.large-input {
      .pt-label {
        &.inline {
          .pt-input,
          .select-box {
            width: calc(78.9% - 10px);
          }
        }
      }
    }

    .pt-label {
      width: 100%;

      &.inline {
        label {
          width: 19.3%;
          text-align: right;
        }

        .pt-input,
        .select-box {
          width: calc(50% - 10px);

          input,
          select {
            width: 100%;
          }
        }

        &.multi-input {
          .pt-input,
          .select-box {
            width: auto;
          }
        }
      }

      &.stacked {
        label {
          width: 100%;
        }

        .pt-input,
        .select-box {
          width: 100%;

          input,
          select {
            width: 100%;
          }
        }
      }
    }
  }

  .pt-form-actions {
    margin: 10px 1.8% 10px 0px;
    clear: left;
    text-align: right;
    margin-right: 1.8%;

    .button-group {
      margin-right: 0px;
    }
  }
}
