@import './icon_font';

input[type='email'],
input[type='text'],
input[type='tel'],
textarea,
input[type='password'],
input[type='url'],
input[type='search'],
input[type='number'],
.select-box,
select {
  border-radius: 2px;
  border: solid 1px $light-grey;
  font-size: inherit;
  font-family: inherit;
  line-height: 2.5em;
  padding-left: 5px;
  height: 2.5em;

  &.is-error {
    border-color: $error-color;
    color: $error-color;
    background-color: lighten($error-color, 40%);
  }

  &.is-valid {
    border-color: $success-color;
    color: darken($success-color, 7%);
    background-color: lighten($success-color, 40%);
  }
}

.is-required {
  position: relative;
  display: inline-block;

  .ic {
    position: absolute;
    top: 11px;
    left: 2px;
    color: #c54040;
    font-size: 15px;
  }

  input {
    padding-left: 15px;
  }
}

.search-input {
  position: relative;
  display: inline-block;

  .ic {
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 10px;
    font-size: 20px;
  }

  input[type='search'] {
      padding-left: 40px;
      height: 2.21em;
      line-height: 2.21em;
  }
}

.select-box {
  display: inline-block;
  position: relative;
  padding-right: 30px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $darker-grey;
    top: 15px;
    right: 10px;
    z-index: 1;
  }

  &:focus {
    outline: auto 5px -webkit-focus-ring-color;
  }

  select {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0px;
    border: 0px;
    opacity: 0;
  }
}
