// ICONS
@import './icon_font';

.ic {
  font-family : 'influicons';
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

  &.ic-check-circle-o {
    &:before {
      content: '\e60a';
    }
  }

  &.ic-info-circle-o {
    &:before {
      content: '\e608';
    }
  }

  &.ic-exclamation-circle-o {
    &:before {
      content: '\e606';
    }
  }

  &.ic-question-circle-o {
    &:before {
      content: '\e609';
    }
  }

  &.ic-times-circle-o {
    &:before {
      content: '\e607';
    }
  }

  &.ic-times {
    &:before {
      content: '\e605';
    }
  }

  &.ic-search {
    &:before {
      content: '\e602';
    }
  }

  &.ic-user {
    &:before {
      content: '\e600';
    }
  }

  &.ic-bell {
    &:before {
      content: '\e601';
    }
  }

  &.ic-mail {
    &:before {
      content: '\e603';
    }
  }

  &.ic-check {
    &:before {
      content: '\e604';
    }
  }

  &.ic-plus {
    &:before {
      content: '\e60b';
    }
  }

  &.ic-minus {
    &:before {
      content: '\e60c';
    }
  }

  &.ic-coins {
    &:before {
      content: '\e60d';
    }
  }

  &.ic-lock {
    &:before {
      content: '\e60e';
    }
  }

  &.ic-unlock {
    &:before {
      content: '\e60f';
    }
  }

  &.ic-chevron-down {
    &:before {
      content: '\e610';
    }
  }

  &.ic-chevron-up {
    &:before {
      content: '\e613';
    }
  }

  &.ic-chevron-left {
    &:before {
      content: '\e611';
    }
  }
}
