.list-picker {
  padding: 0px;

  li {
    margin-bottom:$spacing-xsmall;
    line-height: 22px;
    list-style-type: none;

    &:last-child {
      margin-bottom:0;
    }

    a {
      display:block;
      padding:$spacing-small $spacing-small $spacing-small $spacing-default;
      border-radius:$theme-border-radius;
      text-decoration:none;
      font-weight:bold;
      color: $theme-color-primary;

      &:hover {
        color: $theme-color-secondary;

        .icon {
          visibility:visible;
        }
      }

      &:active,
      &.active {
        background-color:$theme-color-primary;
        color: white;

        .icon {
          color: white;
          visibility:visible;
        }
      }

      .icon {
        font-weight: bold;
        font-size: 1.2em;
        float: right;
        margin-right: $spacing-small;
        margin-top: 3px;
        visibility:hidden;
        color: #555;
      }
    }

    &.selected {
      a,
      a:hover{
        background-color:$theme-color-primary;
        color: white;

        .icon {
          color: white;
          visibility:visible;
        }
      }
    }
  }
}
