.notice {
  padding: 10px 20px;
  border-radius: $theme-border-radius-2;
  background-color: lighten($notice-color, 40%);
  position: relative;

  h4 {
    color: $notice-color;
    margin: 0px 0px 10px 0px;
    line-height: 24px;
    font-size: 18px;

    span {
      vertical-align: middle;
    }
  }

  &.success {
    background-color: lighten($success-color, 40%);

    h4 {
      color: $success-color;
    }
  }

  &.error {
    background-color: lighten($error-color, 40%);

    h4 {
      color: $error-color;
    }
  }

  .notice-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .close {
    padding: 10px;
    color: #999999;
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;

    &:hover {
      color: #666666;
      @include transition(color $transition-out-time ease-out)
    }
  }
}
