DIV.pt-popover {
  box-sizing:border-box;
  position:absolute;
  display:none;
  border:1px solid rgb(210,210,210);
  background:white;
  z-index:1000;
  top:0;
  left:0;
  text-align: left;

  DIV.pt-popovermenu {
    padding: 0;
    margin: 0.5em 0;
  }
  DIV.pt-popovermenu > A {
    display:block;
    padding: 0em 1em;
    white-space: nowrap;
    vertical-align: top;
    line-height: 1.8em;
    text-decoration:none;

    &.ic:before {
      margin-right: 0.3em;
      font-size: 18px;
      line-height: 1.4em;
      display: inline-block;
    }

    &:hover {
      text-decoration:none;
      background-color:#e0e0e0;
    }
  }

  DIV.arrow-top {
    position : absolute;
    top: -15px;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 1001;
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(210,210,210);
  }
  DIV.arrow-top-inner {
    position : absolute;
    top: -14px;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 1002;
    margin-left: -14px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid white;
  }

  &.edge-restricted {
    margin-top: -10px;

    DIV.arrow-top {
      display:none;
    }
    DIV.arrow-top-inner {
      display:none;
    }
  }

}

.pt-popover-wrapper {
  position:relative;
  box-sizing: border-box;
}

.pt-popover-link {
  box-sizing: border-box;
  display: inline-block;
}

DIV.pt-popover.is-visible {
  display:block;
}

/* the parent element of a popover link and popover component needs to be positioned relatively */
.position-relative {
  position:relative
}
