$spacing-default: 12px;
$spacing-small: 6px;
$dimension-spacing-small: .5em;

.profile-popover-wrapper {
}
.loader {
}
.user-profile {
  margin-top: $dimension-spacing-small;
}
.user-profile .user-name {color: $theme-color-primary;font-size: 1.6em;
  // line-height: 1.6em;display: block;
}
.user-profile .user-position {font-weight: bold;font-size: 1.2em;
  // line-height: 1.2em;display: block;
}
.user-profile .user-detail {float: left;margin-top: 0.2em;margin-bottom: $spacing-default;
}

.user-image {
  display: inline-block;
  text-align: center;
  float: left;
  margin-right: $spacing-default;
  margin-bottom: $spacing-default;
}

.user-image img {width: 64px;height: 64px;border-radius: 100%;
}

.popover-user-profile {
  padding: $spacing-small $spacing-default $spacing-default;
  // padding: 6px 12px 12px;
  color: #666;
  width: 300px;
}

// box-sizing: border-box;

.popover-user-profile hr {clear: both;
}

.profile-popover-link {
  font-size: 12px;
  // line-height: 22px;
}


@media screen and (max-device-width: 640px) {
  .user-profile {
    max-width: 100%;
    font-size: 0.9em;
    box-sizing: border-box;
  }
}
