body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family:"Helvetica Neue", Helvetica, arial, sans-serif;
  font-size:13px;
  vertical-align: baseline;
  line-height:22px;
}
ul, li, p, dd, iframe, fieldset, ol {
  margin: 0;
  padding: 0;
  border: 0;
}
select, input, textarea {
  font: inherit;
}
ul, ol {
  list-style: none;
}
img {
  border:0;
}

BODY {
  -webkit-font-smoothing: antialiased;
}
// turn off anti-aliasing for these elements
UL.dropdown-menu, UL.nav {
  -webkit-font-smoothing: auto;
}
// add bold to compensate for sharper text
SPAN.label {
  font-weight: bold;
}