
.panel-sidebar {
  box-sizing: border-box;
  @include span-columns(3);


  @include media($mobile) {
      display: none;
    }

  .panel-sidebar-inner {
    background:white;
    border-radius:$theme-border-radius;
    padding: $spacing-large;

     .panel-block {
      border-top: 1px solid rgb(204,204,204);
      margin-top:$spacing-large;
      padding-top: $spacing-large;
      position: relative;

      &:first-child {
        border-top: 0;
        margin-top:0;
        padding-top: 0;
      }

      h1, h2, h3, h4 {
        margin: $spacing-small 0px;

        a {
          text-decoration: none;
          color: $theme-color-primary;
        }
      }
    }
  }
}

.panel-content {
  @include span-columns(10);
  @include omega();

  background-color: white;
  box-sizing: border-box;

  &.no-colour {
    background-color: transparent;
  }

  .panel-content-inner {
    padding: $spacing-large;
  }

  @include media($mobile) {
    @include row();
    float: none;
    width: 100%;
  }
}

