@import './icon';

.pt-tabs {
  width: 100%;

  .pt-tabs-menu {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    overflow: hidden;

    .pt-tab {
      display: inline-block;
      border-bottom: 1px solid $light-grey;
      box-sizing: border-box;
      width: 150px;
      list-style-type: none;
      z-index: 3;
      position: relative;
      font-size: 15px;
      border-top: 3px solid transparent;

      &.hide {
        display: none;
      }

      a {
        display: block;
        padding: 10px;
        text-align: center;
        color: $dark-grey;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          color: $theme-color-primary;
        }
      }

      &.tab-open {
        border-top: 3px solid $theme-color-primary;
        border-bottom: none;
        a {
          border-right: 1px solid $light-grey;
          border-left: 1px solid $light-grey;
          position: relative;
          color: $theme-color-primary;
        }
      }

      &:last-child:after {
        position:absolute;
        left: 100%;
        content: '';
        width: 9999%;
        border-bottom: 1px solid $light-grey;
      }
    }
  }

  .pt-drop-down-tabs {
    position: absolute;
    left: 10000px;
  }

  &.show-all {
    .pt-tabs-menu {
      position: absolute;
      left: 10000px;
    }

    .pt-drop-down-tabs {
      position: initial;
      left: 0px;
      position: relative;

      .show-dropdown {
        & + ul {
          display: block;
        }

        &.selected-tab-title{
          &:after {
            @include ic-chevron-up();
          }
        }
      }

      .selected-tab-title {
        cursor: pointer;
        background-color: $theme-color-primary;
        color: #fff;
        padding: 10px;
        position:relative;

        &:after {
          @include ic-chevron-down();
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 20px;
        }
      }

      ul {
        display: none;
        position: absolute;
        top: 23px;
        left: 0px;
        z-index: 3;
        padding: 0px;
        width: 100%;

        li {
          list-style-type: none;
          background-color: #fff;
          border: 1px solid $light-grey;
          border-top: 0px;

          &:hover {
            background-color: lighten($lighter-grey, 2%);
          }

          a {
            color: $dark-grey;
            text-decoration: none;
            display: block;
            width: 100%;
            padding: 10px;
          }
        }
      }
    }
  }

  .pt-tabs-content-sections {

    .pt-tab-content {
      display: none;
      padding: 20px 10px 10px;

      &.tab-content-visible {
        display: block;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .pt-tabs {
    .pt-tabs-menu {
      .pt-tab {
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 3px solid transparent;
        width: 100px;

        &.tab-open {
          border-bottom: 3px solid $theme-color-primary;
          border-top: none;

          a {
            border-right: 0px;
            border-left: 0px;
            position: relative;
            color: $theme-color-primary;
          }
        }

        &:last-child:after {
          display: none;;
        }
      }
    }
  }
}
