.pt-tabs {
  width: 100%;

  .pt-tabs-menu {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    overflow: hidden;

    .pt-tab {
      float: left;
      border-bottom: 1px solid $light-grey;
      box-sizing: border-box;
      width: 150px;
      list-style-type: none;
      z-index: 3;
      position: relative;
      font-size: 15px;
      border-top: 3px solid transparent;

      a {
        display: block;
        padding: 10px;
        text-align: center;
        color: $dark-grey;
        text-decoration: none;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          color: $theme-color-primary;
        }
      }

      &.tab-open {
        border-top: 3px solid $theme-color-primary;
        border-bottom: none;
        a {
          border-right: 1px solid $light-grey;
          border-left: 1px solid $light-grey;
          position: relative;
          color: $theme-color-primary;
        }
      }

      &:last-child:after {
        position:absolute;
        left: 100%;
        content: '';
        width: 9999%;
        border-bottom: 1px solid $light-grey;
      }
    }
  }

  .pt-tabs-content-sections {

    .pt-tab-content {
      display: none;
      padding: 20px 10px 10px;

      &.tab-content-visible {
        display: block;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .pt-tabs {
    .pt-tabs-menu {
      .pt-tab {
        width: 100px;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.pt-tabs {
    .pt-tabs-menu {
      .pt-tab {
        /* one tabs */
        &:first-child:nth-last-child(1) {
            width: auto;
        }

        /* two tabs */
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ li {
            width: 25%;
        }

        /* three tabs */
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ li {
            width: 25%;
        }

        /* four tabs */
        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ li {
            width: 25%;
        }
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 3px solid transparent;

        &.tab-open {
          border-bottom: 3px solid $theme-color-primary;
          border-top: none;

          a {
            border-right: 0px;
            border-left: 0px;
            position: relative;
            color: $theme-color-primary;
          }
        }

        &:last-child:after {
          display: none;;
        }
      }
    }
  }
}
