.pt-tooltip {
  position: relative;
  display: inline-block;
  font-weight: normal;

  .tool-tip-element {
    font-size: 20px;
    color: $darker-grey;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px;
  }

  .tooltip-arrow {
    position: absolute;
    left: calc((40px / 2) - 10px);
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0.9;

    &.top {
      top: -16px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $darker-grey;
    }

    &.bottom {
      bottom: -16px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $darker-grey;
    }

    &.hide {
      display: none;
    }
  }
}

.tooltip-content {
  $tooltip-font-size: 13px;

  padding: $tooltip-font-size;
  padding-bottom: $tooltip-font-size * 2;
  position: absolute;
  background-color: $darker-grey;
  color: #fff;
  width: 300px;
  left: calc(-150px + 20px);
  font-size: $tooltip-font-size;
  opacity: 0.9;
  display: block;

  &.top {
    bottom: 42px;
  }

  &.bottom {
    top: 42px;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #fff;
    opacity: 1;
    cursor: pointer;
    display: block;
    text-shadow: none;
    font-weight: normal;

    &.hide {
      display: none;
    }
  }

  &.hide {
    display: none;
  }

  a {
    color: $theme-color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
