/* THIS IS A DEPRECATED SCSS FILE AND IS ONLY USED FOR LEGACY - FOR NEW THINGS USE FONT.SCSS */
body {
  font-family: $theme-font-default;
  font-size: $theme-font-size;
  //-webkit-font-smoothing: antialiased;
}

.font-default {
  font-family: $theme-font-default, sans-serif;
}

h1 { font-size:$theme-font-size-1; }
h2 { font-size:$theme-font-size-2; }
h3 { font-size:$theme-font-size-3; }
h4 { font-size:$theme-font-size-4; }
h5 { font-size:$theme-font-size-5; }
h6 { font-size:$theme-font-size-6; }
