.animated {
  -webkit-animation-duration: 1s;
  animation-duration:         1s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode:         both;

  &.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count:         infinite;
  }
}

@mixin bounce() {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0,-15px,0);
    -webkit-transform: translate3d(0,-15px,0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -8px, 0);
    -ms-transform: translate3d(0,-8px,0);
    -webkit-transform: translate3d(0,-8px,0);
  }

  90% {
    transform: translate3d(0,-3px,0);
    -ms-transform: translate3d(0,-3px,0);
    -webkit-transform: translate3d(0,-3px,0);
  }
}

@keyframes bounce {
  @include bounce();
}

@-webkit-keyframes bounce {
  @include bounce();
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name:         bounce;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

@mixin shrink() {
    0% {
    transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }

  20% {
    transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
  }

  60%, 100% {
    transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 0);
  }
}

@keyframes shrink {
  @include shrink();
}

@-webkit-keyframes shrink {
  @include shrink();
}

.shrink {
  -webkit-animation-name: shrink;
  animation-name:         shrink;
}

@mixin slide-left() {
    0%, 10% {
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  40%, 100% {
    transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slide-left {
  @include slide-left();
}

@-webkit-keyframes slide-left {
  @include slide-left();
}

.slide-left {
  -webkit-animation-name: slide-left;
  animation-name:         slide-left;
}

@mixin fade-in-up() {
  0% {
    transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    opacity : 0;
  }

  90% {
    opacity : 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    opacity : 1;
  }
}

@keyframes fade-in-up {
  @include fade-in-up();
}

@-webkit-keyframes fade-in-up {
  @include fade-in-up();
}



.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name:         fade-in-up;
}
