/**
 * https://github.com/arqex/react-datetime
 */
.scope :global .rdt {
    position: relative;
}
.scope :global .rdtPicker {
    display: none;
    position: absolute;
    width: 250px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #f9f9f9;
}
.scope :global .rdtOpen .rdtPicker {
    display: block;
}
.scope :global .rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
}
.scope :global .rdtPicker .rdtTimeToggle {
    text-align: center;
}
.scope :global .rdtPicker table {
    width: 100%;
    margin: 0;
}
.scope :global .rdtPicker td,
  .scope :global .rdtPicker th {
    text-align: center;
    height: 28px;
}
.scope :global .rdtPicker td.rdtToday:hover,
  .scope :global .rdtPicker td.rdtHour:hover,
  .scope :global .rdtPicker td.rdtMinute:hover,
  .scope :global .rdtPicker td.rdtSecond:hover,
  .scope :global .rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
}
.scope :global .rdtPicker td.rdtDay {
    cursor: pointer;
}
.scope :global .rdtPicker td.rdtDay:hover {
    background: #eeeeee;
}
.scope :global .rdtPicker td.rdtOld,
  .scope :global .rdtPicker td.rdtNew {
    color: #999999;
}
.scope :global .rdtPicker td.rdtToday {
    position: relative;
}
.scope :global .rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.scope :global .rdtPicker td.rdtActive,
  .scope :global .rdtPicker td.rdtActive:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.scope :global .rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
}
.scope :global .rdtPicker td.rdtDisabled,
  .scope :global .rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.scope :global .rdtPicker td span.rdtOld {
    color: #999999;
}
.scope :global .rdtPicker td span.rdtDisabled,
  .scope :global .rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.scope :global .rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
}
.scope :global .rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
}
.scope :global .rdtPicker th.rdtSwitch {
    width: 100px;
}
.scope :global .rdtPicker th.rdtNext,
  .scope :global .rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
}
.scope :global .rdtPicker th.rdtDisabled,
  .scope :global .rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.scope :global .rdtPicker thead tr:first-child th {
    cursor: pointer;
}
.scope :global .rdtPicker thead tr:first-child th:hover {
    background: #eeeeee;
}
.scope :global .rdtPicker tfoot{
    border-top: 1px solid #f9f9f9;
}
.scope :global .rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
    box-shadow: none;
    padding: 0px;
}
.scope :global .rdtPicker button:hover {
    background-color: #eee;
}
.scope :global .rdtPicker thead button {
    width: 100%;
    height: 100%;
}
.scope :global td.rdtMonth,
  .scope :global td.rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
}
.scope :global td.rdtMonth:hover,
  .scope :global td.rdtYear:hover {
    background: #eee;
}
.scope :global .rdtCounters {
    display: inline-block;
}
.scope :global .rdtCounters > div{
    float: left;
}
.scope :global .rdtCounter {
    height: 100px;
}
.scope :global .rdtCounter {
    width: 40px;
}
.scope :global .rdtCounterSeparator {
    line-height: 100px;
}
.scope :global .rdtCounter .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
}
.scope :global .rdtCounter .rdtBtn:hover {
    background: #eee;
}
.scope :global .rdtCounter .rdtCount {
    height: 20%;
    font-size: 1.2em;
}
.scope :global .rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
}
.scope :global .rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
}
