@import 'bourbon';
@import '../shared-scss/theme';

.toggle-switch {
  width: 80px;
  height:30px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 1em;

  @include transition(background-color 0.3s ease-in-out);

  &.off {
    background-color: lighten($error-color, 7%);
    box-shadow: 0px -1px $error-color;

    .switch {
      left: 2px;
    }

    .toggle-text {
      right: 9px;
    }
  }

  &.on {
    background-color: $success-color;
    box-shadow: 0px -1px darken($success-color, 10%);

    .switch {
      left: 38px;
    }

    .toggle-text {
      left: 9px;
    }
  }

  &.disabled {
    background-color: $light-grey;
    box-shadow: 0px -1px $dark-grey;

    .toggle-text {
      color: $dark-grey;
    }
  }

  .toggle-text {
    color: #fff;
    position: absolute;
    top: 8px;
    font-size: 15px;
    font-weight: normal;
  }

  .switch {
    display: block;
    position: absolute;
    height: 28px;
    width: 40px;
    border-radius: 2px;
    top: 0px;
    background-color: $lighter-grey;
    box-shadow: 0px 1px $dark-grey;

    @include transition(left 0.3s ease-in-out);

    .switch-line {
      width: 1px;
      height: 15px;
      background-color: $light-grey;
      position: absolute;
      top: 6px;
      left: 20px;

      &:first-child {
        left: 12px;
      }

      &:last-child {
        left: 28px;
      }
    }
  }

  .toggle-checkbox {
    visibility: hidden;
  }
}
