<div id="form-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.FormPattern, {}),
      document.getElementById("form-pattern")
    );
  })();
</script>
