<div id="form-row-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.FormRowPattern, {}),
      document.getElementById("form-row-pattern")
    );
  })();
</script>

