<div id="form-column-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.FormColumnPattern, {}),
      document.getElementById("form-column-pattern")
    );
  })();
</script>

