<div id="form-actions-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.FormActionsPattern, {}),
      document.getElementById("form-actions-pattern")
    );
  })();
</script>

