<div id="form-title-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.FormTitlePattern, {}),
      document.getElementById("form-title-pattern")
    );
  })();
</script>

