<div id="form-section-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.FormSectionPattern, {}),
      document.getElementById("form-section-pattern")
    );
  })();
</script>

