<div id="form-alert-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.FormAlertPattern, {}),
      document.getElementById("form-alert-pattern")
    );
  })();
</script>

