<div id="card-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.CardPattern, {}),
      document.getElementById("card-pattern")
    );
  })();
</script>
