<div id="button-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ButtonPattern, {}),
      document.getElementById("button-pattern")
    );
  })();
</script>


<section class="pattern-section">
  <h4>Add Button</h4>
  <button>
    <span class="ic ic-plus"></span>
    <span>Add Button</span>
  </button>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button&gt;
        &lt;span class="ic ic-plus"&gt;&lt;/span&gt;
        &lt;span&gt;Add Button&lt;/span&gt;
      &lt;/button&gt;

      &lt;a href="#" class="button"&gt;
        &lt;span class="ic ic-plus"&gt;&lt;/span&gt;
        &lt;span&gt;Add Button&lt;/span&gt;
      &lt;/a&gt;
    </code>
  </pre>
</section>

