<div id="button-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ButtonPattern, {}),
      document.getElementById("button-pattern")
    );
  })();
</script>
