<section class="pattern-section">
  <header>
    <h3>buttons</h3>
  </header>

  <p>We have a variety of buttons that are used in specific circumstances.  The default and primary styling will be affected by white labeling.</p>

  <p>Buttons can either be an HTML tag "button" or an anchor with a ".button" class</p>

  <h4>Default / Primary</h4>
  <button>Default / Primary Button</button>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button&gt;Default / Primary Button&lt;/button&gt;
      &lt;a href="#" class="button"&gt;Default / Primary Button&lt;/a&gt;

      &lt;button class="primary"&gt;Default / Primary Button&lt;/button&gt;
      &lt;a href="#" class="button primary"&gt;Default / Primary Button&lt;/a&gt;
    </code>
  </pre>

  <h4>Secondary</h4>
  <button class="secondary">Secondary Button</button>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button class="secondary"&gt;Secondary Button&lt;/button&gt;
      &lt;a href="#" class="button secondary"&gt;Secondary Button&lt;/a&gt;
    </code>
  </pre>

  <h4>Secondary Inverse</h4>
  <div class="button-inverse-wrapper">
    <button class="secondary inverse">Secondary Inverse Button</button>
  </div>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button class="secondary inverse"&gt;Secondary Inverse Button&lt;/button&gt;
      &lt;a href="#" class="button secondary inverse"&gt;Secondary Inverse Button&lt;/a&gt;
    </code>
  </pre>

  <h4>Disabled</h4>
  <button class="disabled">Disabled Button</button>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button class="disabled"&gt;Disabled Button&lt;/button&gt;
      &lt;a href="#" class="button disabled"&gt;Disabled Button&lt;/a&gt;
    </code>
  </pre>

  <h4>Important</h4>
  <button class="important">Important Button</button>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button class="important"&gt;Important Button&lt;/button&gt;
      &lt;a href="#" class="button important"&gt;Important Button&lt;/a&gt;
    </code>
  </pre>

  <h4>Success</h4>
  <button class="success">Success Button</button>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button class="success"&gt;Success Button&lt;/button&gt;
      &lt;a href="#" class="button success"&gt;Success Button&lt;/a&gt;
    </code>
  </pre>

  <h4>Danger</h4>
  <button class="danger">Danger Button</button>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button class="danger"&gt;Danger Button&lt;/button&gt;
      &lt;a href="#" class="button danger"&gt;Danger Button&lt;/a&gt;
    </code>
  </pre>

  <h4>Text</h4>
  <button class="text">Text Button</button>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button class="text"&gt;Text Button&lt;/button&gt;
      &lt;a href="#" class="button text"&gt;Text Button&lt;/a&gt;
    </code>
  </pre>

  <h4>Text Inverse</h4>
  <div class="button-inverse-wrapper">
    <button class="text inverse">Text Inverse Button</button>
  </div>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;button class="text inverse"&gt;Text Inverse Button&lt;/button&gt;
      &lt;a href="#" class="button text inverse"&gt;Text Inverse Button&lt;/a&gt;
    </code>
  </pre>
</section>

