<section class="pattern-section">
  <header>
    <h3>button dropdowns</h3>
  </header>

  <p>Button dropdowns mix the awesomeness of a button with the functionality of a dropdown.</p>

  <h4>Single Button Dropdowns</h4>

  <div id="single-button-dropdown-important-pattern" style="display: inline-block; margin-right:20px;"></div>
  <script type="text/javascript">
    (function() {
      var props = {
        title : "Button Title",
        type : "important",
        options : [
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "option-1", children : ["Option 1"]}),
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "option-2", children : ["Option 2"]})
        ],
        onChange : function(key){
          console.log(key);
        }
      };

      inflComp.buttonDropdown(props, "single-button-dropdown-important-pattern");
    })();
  </script>

  <div id="single-button-dropdown-default-pattern" style="display: inline-block; margin-right:20px;"></div>
  <script type="text/javascript">
    (function() {
      var props = {
        title : "Button Title",
        type : "",
        options : [
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-1", children : ["Option 1"]}),
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-2", children : ["Option 2"]})
        ]
      };

      inflComp.buttonDropdown(props, "single-button-dropdown-default-pattern");
    })();
  </script>

  <div id="single-button-dropdown-primary-pattern" style="display: inline-block; margin-right:20px;"></div>
  <script type="text/javascript">
    (function() {
      var props = {
        title : "Button Title",
        type : "primary",
        options : [
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-1", children : ["Option 1"]}),
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-2", children : ["Option 2"]})
        ]
      };

      inflComp.buttonDropdown(props, "single-button-dropdown-primary-pattern");
    })();
  </script>

  <div id="single-button-dropdown-danger-pattern" style="display: inline-block; margin-right:20px;"></div>
  <script type="text/javascript">
    (function() {
      var props = {
        title : "Button Title",
        type : "danger",
        options : [
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-1", children : ["Option 1"]}),
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-2", children : ["Option 2"]})
        ]
      };

      inflComp.buttonDropdown(props, "single-button-dropdown-danger-pattern");
    })();
  </script>

  <div id="single-button-dropdown-success-pattern" style="display: inline-block; margin-right:20px;"></div>
  <script type="text/javascript">
    (function() {
      var props = {
        title : "Button Title",
        type : "success",
        options : [
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-1", children : ["Option 1"]}),
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-2", children : ["Option 2"]})
        ]
      };

      inflComp.buttonDropdown(props, "single-button-dropdown-success-pattern");
    })();
  </script>

  <div id="single-button-dropdown-secondary-pattern" style="display: inline-block; margin-right:20px;"></div>
  <script type="text/javascript">
    (function() {
      var props = {
        title : "Button Title",
        type : "secondary",
        options : [
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-1", children : ["Option 1"]}),
          inflComp.React.createElement("a", {href: "http://google.ca", target: "_blank", key : "default-option-2", children : ["Option 2"]})
        ]
      };

      inflComp.buttonDropdown(props, "single-button-dropdown-secondary-pattern");
    })();
  </script>

  <h4 class="code-title">Code</h4>

  <h5 class="code-title">JSX</h5>
  <pre class="code">
    <code>
      &lt;ButtonDropdown title="Button Title" type="important" options={[...]} onChange={on_change_callback} /&gt;

      &lt;ButtonDropdown title="Button Title" type="important" onChange={on_change_callback}&gt;
        &lt;Link {...props} /&gt;
        &lt;Link {...props} /&gt;
        &lt;Link {...props} /&gt;
      &lt;/ButtonDropdown&gt;
    </code>
  </pre>

  <h5 class="code-title">Without JSX</h5>
  <pre class="code">
    <code>
      React.render(
        React.createElement(ButtonDropdown, props),
        {DOM element to append accordion to}
      );
    </code>
  </pre>

  <h4 class="code-title">Props</h4>

  <pre class="code">
    <code>
      {
        title : {button_title},   //title to appear on button
        type : {button_type},     //success, danger, primary, important, secondary, ''
        options : [...]           //array of react elements
      }
    </code>
  </pre>
</section>

