<div id="button-dropdown-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ButtonDropdownPattern, {}),
      document.getElementById("button-dropdown-pattern")
    );
  })();
</script>
