<div id="button-group-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ButtonGroupPattern, {}),
      document.getElementById("button-group-pattern")
    );
  })();
</script>
