<h3>Primary Color</h3>

<h4>Hex Code: #197097</h4>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch background-color-primary"></span>
		<span class="sg-label ">Active</span>
	</li>
	<li>
		<span class="sg-swatch background-color-primary hover"></span>
		<span class="sg-label ">Hover</span>
	</li>
	<li>
		<span class="sg-swatch background-color-primary focus"></span>
		<span class="sg-label ">Focus</span>
	</li>
	<li>
		<span class="sg-swatch background-color-primary shadow"></span>
		<span class="sg-label ">Shadow</span>
	</li>
	<li>
		<span class="sg-swatch background-color-primary disabled"></span>
		<span class="sg-label ">Disabled</span>
	</li>
	<li>
		<span class="sg-swatch background-color-primary inverse"></span>
		<span class="sg-label ">Inverse</span>
	</li>
</ul>

<p>This is the main colour for the white lab theme.  It is to be used for:</p>

<ul>
	<li>Main link</li>
	<li>Primary button</li>
	<li>Headings</li>
</ul>

<h3>Secondary Color</h3>

<h4>Hex Code: #fc9c24</h4>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch background-color-secondary"></span>
		<span class="sg-label ">Active</span>
	</li>
	<li>
		<span class="sg-swatch background-color-secondary hover"></span>
		<span class="sg-label ">Hover</span>
	</li>
	<li>
		<span class="sg-swatch background-color-secondary focus"></span>
		<span class="sg-label ">Focus</span>
	</li>
	<li>
		<span class="sg-swatch background-color-secondary shadow"></span>
		<span class="sg-label ">Shadow</span>
	</li>
	<li>
		<span class="sg-swatch background-color-secondary disabled"></span>
		<span class="sg-label ">Disabled</span>
	</li>
	<li>
		<span class="sg-swatch background-color-secondary inverse"></span>
		<span class="sg-label ">Inverse</span>
	</li>
</ul>

<h3>Tertiary Color</h3>

<h4>Hex Code: #55b48c</h4>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch background-color-tertiary"></span>
		<span class="sg-label ">Active</span>
	</li>
</ul>

<h3>Quaternary Color</h3>

<h4>Hex Code: #97c343</h4>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch background-color-tertiary"></span>
		<span class="sg-label ">Active</span>
	</li>
</ul>

<h3>Quinary Color</h3>

<h4>Hex Code: #269dbb</h4>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch background-color-quinary"></span>
		<span class="sg-label ">Active</span>
	</li>
</ul>

<h3>Text Color</h3>

<h4>Hex Code: #333</h4>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch background-color-foreground"></span>
		<span class="sg-label "></span>
	</li>
</ul>

<h3>Background Color</h3>

<h4>Hex Code: #fff</h4>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch background-color-background"></span>
		<span class="sg-label "></span>
	</li>
</ul>

