<div class="theme-font">
  <h3>Font Family</h3>
  <p>"HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>

  <h3>Italic</h3>
  <p>
    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i>
  </p>

  <h3>Bold</h3>
  <p>
    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>
  </p>
</div>
