$spacing-large: 1.5em;
$transition-in-time: 0.5s;
$transition-out-time: 0.5s;

.accordion {
  padding: 0px;

  .accordion-section {
    margin-bottom: 1px;
    list-style-type: none;

    .section-heading {
      background-color: #cccccc;
      font-size: 1.1em;
      overflow: hidden;
      margin: 0px;
      font-weight: normal;
      padding: 10px;
      color: #333333;
      cursor: pointer;

      &.open {
        .edit-section {
          opacity: 0;
          transition: opacity $transition-out-time ease-in-out;
        }
      }

      &.open + .section-details {
        transition: max-height $transition-out-time ease-in-out;
      }

      &.disabled {
        color: #999999;
        cursor: auto;
        opacity: 1;

        &:hover {
          background-color: #cccccc;
        }

        &:hover  + .section-details{
          border-color: #cccccc;
        }
      }

      &:hover {
        background-color: #e2e2e2;
        transition: background-color $transition-out-time ease-in-out;
      }

      &:hover + .section-details{
        border-color: #e2e2e2;
      }
    }
    .section-details {
      border: 1px solid #cccccc;
      max-height: 0;
      overflow: hidden;
      transition: max-height $transition-out-time ease-out;

      .section-details-inner {
        padding: $spacing-large;
      }
    }
  }
}
