<style>
  .challenge-cards {
    overflow: hidden;
    padding: 5px;
  }
  .challenge-cards .pt-challenge-card {
    float: left;
    /*width: calc(96% / 3);*/
    margin-right: 2%;
  }
  .challenge-cards .pt-challenge-card:nth-child(3) {
    margin-right: 0px;
  }
</style>

<div id="challenges-page-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ChallengesPagePattern, {}),
      document.getElementById("challenges-page-pattern")
    );
  })();
</script>

