<div id="full-width-modal-input-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ModalFullWidthInput, {}),
      document.getElementById("full-width-modal-input-pattern")
    );
  })();
</script>

