<div id="challenge-templates-page-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ChallengeTemplatesPagePattern, {}),
      document.getElementById("challenge-templates-page-pattern")
    );
  })();
</script>

