<div id="profile-popover"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.ProfilePopoverPattern, {}),
      document.getElementById("profile-popover")
    );
  })();
</script>
