<div id="icons-pattern"></div>
<script type="text/javascript">
  (function() {
    inflComp.React.render(
      inflComp.React.createElement(inflComp.IconsPattern, {}),
      document.getElementById("icons-pattern")
    );
    })();
</script>
