<section class="pattern-section">
  <header>
    <h3>icons</h3>
  </header>

  <p>All our icons are provided via a custom font.  This allows the size of the icon to be changed via font-size and the colour to be changed via font color.</p>

  <h4>User</h4>
  <span class="ic ic-user" style="font-size: 100px;"></span>
  <span class="ic ic-user" style="font-size: 80px;"></span>
  <span class="ic ic-user" style="font-size: 60px;"></span>
  <span class="ic ic-user" style="font-size: 40px;"></span>
  <span class="ic ic-user" style="font-size: 20px;"></span>
  <span class="ic ic-user"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-user"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Bell</h4>
  <span class="ic ic-bell" style="font-size: 100px;"></span>
  <span class="ic ic-bell" style="font-size: 80px;"></span>
  <span class="ic ic-bell" style="font-size: 60px;"></span>
  <span class="ic ic-bell" style="font-size: 40px;"></span>
  <span class="ic ic-bell" style="font-size: 20px;"></span>
  <span class="ic ic-bell"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-bell"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Calendar</h4>
  <span class="ic ic-calendar" style="font-size: 100px;"></span>
  <span class="ic ic-calendar" style="font-size: 80px;"></span>
  <span class="ic ic-calendar" style="font-size: 60px;"></span>
  <span class="ic ic-calendar" style="font-size: 40px;"></span>
  <span class="ic ic-calendar" style="font-size: 20px;"></span>
  <span class="ic ic-calendar"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
        &lt;span class="ic ic-calendar"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Search</h4>
  <span class="ic ic-search" style="font-size: 100px;"></span>
  <span class="ic ic-search" style="font-size: 80px;"></span>
  <span class="ic ic-search" style="font-size: 60px;"></span>
  <span class="ic ic-search" style="font-size: 40px;"></span>
  <span class="ic ic-search" style="font-size: 20px;"></span>
  <span class="ic ic-search"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-search"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Mail</h4>
  <span class="ic ic-mail" style="font-size: 100px;"></span>
  <span class="ic ic-mail" style="font-size: 80px;"></span>
  <span class="ic ic-mail" style="font-size: 60px;"></span>
  <span class="ic ic-mail" style="font-size: 40px;"></span>
  <span class="ic ic-mail" style="font-size: 20px;"></span>
  <span class="ic ic-mail"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-mail"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Check Mark</h4>
  <span class="ic ic-check" style="font-size: 100px;"></span>
  <span class="ic ic-check" style="font-size: 80px;"></span>
  <span class="ic ic-check" style="font-size: 60px;"></span>
  <span class="ic ic-check" style="font-size: 40px;"></span>
  <span class="ic ic-check" style="font-size: 20px;"></span>
  <span class="ic ic-check"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-check"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Close (Times)</h4>
  <span class="ic ic-times" style="font-size: 100px;"></span>
  <span class="ic ic-times" style="font-size: 80px;"></span>
  <span class="ic ic-times" style="font-size: 60px;"></span>
  <span class="ic ic-times" style="font-size: 40px;"></span>
  <span class="ic ic-times" style="font-size: 20px;"></span>
  <span class="ic ic-times"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-times"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Check Circle Hollow</h4>
  <span class="ic ic-check-circle-o" style="font-size: 100px;"></span>
  <span class="ic ic-check-circle-o" style="font-size: 80px;"></span>
  <span class="ic ic-check-circle-o" style="font-size: 60px;"></span>
  <span class="ic ic-check-circle-o" style="font-size: 40px;"></span>
  <span class="ic ic-check-circle-o" style="font-size: 20px;"></span>
  <span class="ic ic-check-circle-o"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-check-circle-o"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Close (Times) Circle Hollow</h4>
  <span class="ic ic-times-circle-o" style="font-size: 100px;"></span>
  <span class="ic ic-times-circle-o" style="font-size: 80px;"></span>
  <span class="ic ic-times-circle-o" style="font-size: 60px;"></span>
  <span class="ic ic-times-circle-o" style="font-size: 40px;"></span>
  <span class="ic ic-times-circle-o" style="font-size: 20px;"></span>
  <span class="ic ic-times-circle-o"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-times-circle-o"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Exclamation Circle Hollow</h4>
  <span class="ic ic-exclamation-circle-o" style="font-size: 100px;"></span>
  <span class="ic ic-exclamation-circle-o" style="font-size: 80px;"></span>
  <span class="ic ic-exclamation-circle-o" style="font-size: 60px;"></span>
  <span class="ic ic-exclamation-circle-o" style="font-size: 40px;"></span>
  <span class="ic ic-exclamation-circle-o" style="font-size: 20px;"></span>
  <span class="ic ic-exclamation-circle-o"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-exclamation-circle-o"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Info Circle Hollow</h4>
  <span class="ic ic-info-circle-o" style="font-size: 100px;"></span>
  <span class="ic ic-info-circle-o" style="font-size: 80px;"></span>
  <span class="ic ic-info-circle-o" style="font-size: 60px;"></span>
  <span class="ic ic-info-circle-o" style="font-size: 40px;"></span>
  <span class="ic ic-info-circle-o" style="font-size: 20px;"></span>
  <span class="ic ic-info-circle-o"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-info-circle-o"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Question Circle Hollow</h4>
  <span class="ic ic-question-circle-o" style="font-size: 100px;"></span>
  <span class="ic ic-question-circle-o" style="font-size: 80px;"></span>
  <span class="ic ic-question-circle-o" style="font-size: 60px;"></span>
  <span class="ic ic-question-circle-o" style="font-size: 40px;"></span>
  <span class="ic ic-question-circle-o" style="font-size: 20px;"></span>
  <span class="ic ic-question-circle-o"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-question-circle-o"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Plus</h4>
  <span class="ic ic-plus" style="font-size: 100px;"></span>
  <span class="ic ic-plus" style="font-size: 80px;"></span>
  <span class="ic ic-plus" style="font-size: 60px;"></span>
  <span class="ic ic-plus" style="font-size: 40px;"></span>
  <span class="ic ic-plus" style="font-size: 20px;"></span>
  <span class="ic ic-plus"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-plus"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Minus</h4>
  <span class="ic ic-minus" style="font-size: 100px;"></span>
  <span class="ic ic-minus" style="font-size: 80px;"></span>
  <span class="ic ic-minus" style="font-size: 60px;"></span>
  <span class="ic ic-minus" style="font-size: 40px;"></span>
  <span class="ic ic-minus" style="font-size: 20px;"></span>
  <span class="ic ic-minus"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-minus"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Coins</h4>
  <span class="ic ic-coins" style="font-size: 100px;"></span>
  <span class="ic ic-coins" style="font-size: 80px;"></span>
  <span class="ic ic-coins" style="font-size: 60px;"></span>
  <span class="ic ic-coins" style="font-size: 40px;"></span>
  <span class="ic ic-coins" style="font-size: 20px;"></span>
  <span class="ic ic-coins"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-coins"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Lock</h4>
  <span class="ic ic-lock" style="font-size: 100px;"></span>
  <span class="ic ic-lock" style="font-size: 80px;"></span>
  <span class="ic ic-lock" style="font-size: 60px;"></span>
  <span class="ic ic-lock" style="font-size: 40px;"></span>
  <span class="ic ic-lock" style="font-size: 20px;"></span>
  <span class="ic ic-lock"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-lock"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Unlock</h4>
  <span class="ic ic-unlock" style="font-size: 100px;"></span>
  <span class="ic ic-unlock" style="font-size: 80px;"></span>
  <span class="ic ic-unlock" style="font-size: 60px;"></span>
  <span class="ic ic-unlock" style="font-size: 40px;"></span>
  <span class="ic ic-unlock" style="font-size: 20px;"></span>
  <span class="ic ic-unlock"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-unlock"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Asterisk</h4>
  <span class="ic ic-asterisk" style="font-size: 100px;"></span>
  <span class="ic ic-asterisk" style="font-size: 80px;"></span>
  <span class="ic ic-asterisk" style="font-size: 60px;"></span>
  <span class="ic ic-asterisk" style="font-size: 40px;"></span>
  <span class="ic ic-asterisk" style="font-size: 20px;"></span>
  <span class="ic ic-asterisk"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-asterisk"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Chevron Down</h4>
  <span class="ic ic-chevron-down" style="font-size: 100px;"></span>
  <span class="ic ic-chevron-down" style="font-size: 80px;"></span>
  <span class="ic ic-chevron-down" style="font-size: 60px;"></span>
  <span class="ic ic-chevron-down" style="font-size: 40px;"></span>
  <span class="ic ic-chevron-down" style="font-size: 20px;"></span>
  <span class="ic ic-chevron-down"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-chevron-down"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Chevron Up</h4>
  <span class="ic ic-chevron-up" style="font-size: 100px;"></span>
  <span class="ic ic-chevron-up" style="font-size: 80px;"></span>
  <span class="ic ic-chevron-up" style="font-size: 60px;"></span>
  <span class="ic ic-chevron-up" style="font-size: 40px;"></span>
  <span class="ic ic-chevron-up" style="font-size: 20px;"></span>
  <span class="ic ic-chevron-up"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-chevron-up"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Chevron Left</h4>
  <span class="ic ic-chevron-left" style="font-size: 100px;"></span>
  <span class="ic ic-chevron-left" style="font-size: 80px;"></span>
  <span class="ic ic-chevron-left" style="font-size: 60px;"></span>
  <span class="ic ic-chevron-left" style="font-size: 40px;"></span>
  <span class="ic ic-chevron-left" style="font-size: 20px;"></span>
  <span class="ic ic-chevron-left"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-chevron-left"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Chevron Right</h4>
  <span class="ic ic-chevron-right" style="font-size: 100px;"></span>
  <span class="ic ic-chevron-right" style="font-size: 80px;"></span>
  <span class="ic ic-chevron-right" style="font-size: 60px;"></span>
  <span class="ic ic-chevron-right" style="font-size: 40px;"></span>
  <span class="ic ic-chevron-right" style="font-size: 20px;"></span>
  <span class="ic ic-chevron-right"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-chevron-right"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Arrow Down</h4>
  <span class="ic ic-arrow-down" style="font-size: 100px;"></span>
  <span class="ic ic-arrow-down" style="font-size: 80px;"></span>
  <span class="ic ic-arrow-down" style="font-size: 60px;"></span>
  <span class="ic ic-arrow-down" style="font-size: 40px;"></span>
  <span class="ic ic-arrow-down" style="font-size: 20px;"></span>
  <span class="ic ic-arrow-down"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-arrow-down"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Arrow Up</h4>
  <span class="ic ic-arrow-up" style="font-size: 100px;"></span>
  <span class="ic ic-arrow-up" style="font-size: 80px;"></span>
  <span class="ic ic-arrow-up" style="font-size: 60px;"></span>
  <span class="ic ic-arrow-up" style="font-size: 40px;"></span>
  <span class="ic ic-arrow-up" style="font-size: 20px;"></span>
  <span class="ic ic-arrow-up"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-arrow-up"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Arrow Left</h4>
  <span class="ic ic-arrow-left" style="font-size: 100px;"></span>
  <span class="ic ic-arrow-left" style="font-size: 80px;"></span>
  <span class="ic ic-arrow-left" style="font-size: 60px;"></span>
  <span class="ic ic-arrow-left" style="font-size: 40px;"></span>
  <span class="ic ic-arrow-left" style="font-size: 20px;"></span>
  <span class="ic ic-arrow-left"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-arrow-left"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Arrow Right</h4>
  <span class="ic ic-arrow-right" style="font-size: 100px;"></span>
  <span class="ic ic-arrow-right" style="font-size: 80px;"></span>
  <span class="ic ic-arrow-right" style="font-size: 60px;"></span>
  <span class="ic ic-arrow-right" style="font-size: 40px;"></span>
  <span class="ic ic-arrow-right" style="font-size: 20px;"></span>
  <span class="ic ic-arrow-right"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-arrow-right"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Calendar</h4>
  <span class="ic ic-calendar" style="font-size: 100px;"></span>
  <span class="ic ic-calendar" style="font-size: 80px;"></span>
  <span class="ic ic-calendar" style="font-size: 60px;"></span>
  <span class="ic ic-calendar" style="font-size: 40px;"></span>
  <span class="ic ic-calendar" style="font-size: 20px;"></span>
  <span class="ic ic-calendar"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-calendar"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Speech</h4>
  <span class="ic ic-speech" style="font-size: 100px;"></span>
  <span class="ic ic-speech" style="font-size: 80px;"></span>
  <span class="ic ic-speech" style="font-size: 60px;"></span>
  <span class="ic ic-speech" style="font-size: 40px;"></span>
  <span class="ic ic-speech" style="font-size: 20px;"></span>
  <span class="ic ic-speech"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-speech"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Heart</h4>
  <span class="ic ic-heart" style="font-size: 100px;"></span>
  <span class="ic ic-heart" style="font-size: 80px;"></span>
  <span class="ic ic-heart" style="font-size: 60px;"></span>
  <span class="ic ic-heart" style="font-size: 40px;"></span>
  <span class="ic ic-heart" style="font-size: 20px;"></span>
  <span class="ic ic-heart"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-heart"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Star</h4>
  <span class="ic ic-star" style="font-size: 100px;"></span>
  <span class="ic ic-star" style="font-size: 80px;"></span>
  <span class="ic ic-star" style="font-size: 60px;"></span>
  <span class="ic ic-star" style="font-size: 40px;"></span>
  <span class="ic ic-star" style="font-size: 20px;"></span>
  <span class="ic ic-star"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-star"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Pin</h4>
  <span class="ic ic-pin" style="font-size: 100px;"></span>
  <span class="ic ic-pin" style="font-size: 80px;"></span>
  <span class="ic ic-pin" style="font-size: 60px;"></span>
  <span class="ic ic-pin" style="font-size: 40px;"></span>
  <span class="ic ic-pin" style="font-size: 20px;"></span>
  <span class="ic ic-pin"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-pin"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Pencil</h4>
  <span class="ic ic-pencil" style="font-size: 100px;"></span>
  <span class="ic ic-pencil" style="font-size: 80px;"></span>
  <span class="ic ic-pencil" style="font-size: 60px;"></span>
  <span class="ic ic-pencil" style="font-size: 40px;"></span>
  <span class="ic ic-pencil" style="font-size: 20px;"></span>
  <span class="ic ic-pencil"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-pencil"&gt;&lt;/span&gt;
    </code>
  </pre>

  <h4>Trash</h4>
  <span class="ic ic-trash" style="font-size: 100px;"></span>
  <span class="ic ic-trash" style="font-size: 80px;"></span>
  <span class="ic ic-trash" style="font-size: 60px;"></span>
  <span class="ic ic-trash" style="font-size: 40px;"></span>
  <span class="ic ic-trash" style="font-size: 20px;"></span>
  <span class="ic ic-trash"></span>

  <h5 class="code-title">HTML</h5>
  <pre class="code">
    <code>
      &lt;span class="ic ic-trash"&gt;&lt;/span&gt;
    </code>
  </pre>
</section>
