$path_to_influicons_font_ttf: url('../fonts/influicons.ttf');
$path_to_influicons_font_eot: url('../fonts/influicons.eot');
$path_to_influicons_font_eot2: url('../fonts/influicons.eot?#iefix');
$path_to_influicons_font_svg: url('../fonts/influicons.svg');
$path_to_influicons_font_woff: url('../fonts/influicons.woff');

$path_to_proxima_nova_light_font : url('../fonts/ProximaNova-Light.ttf');
$path_to_proxima_nova_light_bold_font : url('../fonts/ProximaNova-Semibold.ttf');
$path_to_proxima_nova_light_italic_font : url('../fonts/ProximaNova-LightIt.ttf');

@import "bourbon";
@import "neat";

//$path_to_fonts this should be set in your application.scss

@font-face {
  font-family: "influicons";
  src: $path_to_influicons_font_eot;
  src: $path_to_influicons_font_eot2 format('eot'),
    $path_to_influicons_font_woff format('woff'),
    $path_to_influicons_font_ttf format('truetype'),
    $path_to_influicons_font_svg format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: $path_to_proxima_nova_light_font format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Light Bold';
  src: $path_to_proxima_nova_light_bold_font format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: $path_to_proxima_nova_light_italic_font format('truetype');
}

@import "infl-styles/all";

//to force the styles to take affect in the pattern lab
body {
  font-family: 'Proxima Nova Light', 'Helvetica Neue', Helvetica, arial, sans-serif !important;
  font-size: 15px !important;
}

/* new colour classes*/
.color-primary-background { background-color: $theme-color-primary; }
.color-secondary-background { background-color: $theme-color-secondary; }

.color-success-background { background-color: $success-color; }
.color-error-background { background-color: $error-color; }
.color-warning-background { background-color: $warning-color; }

.color-darker-grey-background { background-color: $darker-grey; }
.color-dark-grey-background { background-color: $dark-grey; }
.color-medium-grey-background { background-color: $medium-grey; }
.color-light-grey-background { background-color: $light-grey; }
.color-lighter-grey-background { background-color: $lighter-grey; }



/* welcome styling */

.code-title,
.code {
  @media all and (max-width: 600px) {
    display: none;
  }
}

.button-inverse-wrapper {
  padding: 10px;
  background-color: $darker-grey;
}

#welcome {
  background-color: darken($warning-color, 2%);
  padding: 150px 0px 50px;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    display: none;
    width: 0;
    height: 0;
    border-bottom: 300px solid $darker-grey;
    border-left: 200px solid transparent;
    bottom: 0px;
    right: 0px;
  }

  &:after {
    position: absolute;
    content: "";
    display: none;
    width: 0;
    height: 0;
    border-bottom: 300px solid $darker-grey;
    border-right: 200px solid transparent;
    bottom: 0px;
    left: 0px;
  }

  .logo {
    background-image: url("../images/Influitive_Logo_Text_White.png");
    width: 430px;
    height: 100px;
    background-repeat: no-repeat;
    margin: 0px auto;
    background-position: bottom middle;

    @media all and (max-width: 450px) {
      width: 100%;
      background-size: 90%;
    }

    span {
      display: none;
    }
  }

  .tag-line {
      color: #fff;
      border-top: 1px dashed #fff;
      border-bottom: 1px dashed #fff;
      font-variant: small-caps;
      width: 80%;
      margin: 0px auto;
      font-weight: normal;
      padding: 10px 0px;
      text-align: center;
  }

  .inf-pattern {
    color: #fff;
    font-size: 40px;
    text-align: center;

    @media all and (max-width: 450px) {
      font-size: 30px;
    }
  }

  .find-pattern-icon {
    color: #fff;
    display:block;
    text-align: center;
    font-size: 100px;
    border: 5px solid white;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 0px auto;
  }
}

#why-lab {
  background-color: $darker-grey;
  padding: 50px;
  color: #fff;
  overflow: hidden;

  .lab-content {
    width: 50%;
    float: left;

    @media all and (max-width: 450px) {
      width: 100%;
      float: none;
    }

    h2 {
      margin-top: 0px;
    }
  }
}

#lab-features {
  background-color: $success-color;
  padding: 50px;
  color: #fff;
  overflow: hidden;

  .lab-content {
    width: 50%;
    float: right;

    @media all and (max-width: 450px) {
      width: 100%;
      float: none;
    }

    h2 {
      margin-top: 0px;
    }
  }
}

.icons-container {
  overflow: hidden;

  .size-100 {
    font-size: 100px;
  }

  .size-80 {
    font-size: 80px;
  }

  .size-60 {
    font-size: 60px;
  }

  .size-40 {
    font-size: 40px;
  }

  .size-20 {
    font-size: 20px;
  }

  .icon-example {
    float: left;
    width: 150px;
    margin: 5px;
    cursor: pointer;

    .icon-example-icon {
      text-align: center;

      & > h5 {
        height: 50px;
        margin: 0px;
        text-align: center;
      }

      .icon {
        height: 150px;
        line-height: 150px;

        .ic {
          vertical-align: middle;
        }
      }
    }

    &:hover {
      background-color: $lighter-grey;
    }
  }
}

.pattern-show {
  margin: 10px 0px;
  overflow : auto;
  padding: 10px 0px;
}

.try-it-yourself {
  .pt-modal-dialog {
    cursor: auto;
    @include transition(top 1s ease-in-out);

    .pt-modal {
      min-height: 100%;
      margin: 0px;

      &.large {
        width: 100%;
      }

      .pt-modal-header {
        h3 {
          font-size:30px;
        }
      }

      .close-dialog {
        font-size: 60px;
        top: 3px;
        right: 3px;
      }



      .pt-modal-body {
        overflow: hidden;

        .pattern-controls {
          float: left;
          width: 40%;

          h4 {
            position: relative;

            .reset-demo {
              position: absolute;
              right: 0px;
              top: -9 px;
            }
          }
        }

        .demo-output {
          overflow: hidden;
          float: right;
          width: calc(60% - 20px);
          padding-left: 20px;

          .demo-pattern {

            .demo-pattern-example {
              padding: 10px;

              &.inverse {
                background-color: $dark-grey;
              }

              .loading-demo-area {
                position: relative;
                height: 100px;

                .loading-spinner {

                  &.is-modal {
                    position: absolute;
                  }
                }
              }

              .modal-demo-area {
                position: relative;
                height: 500px;

                .pt-modal-dialog {
                  position: absolute;

                  &.scrolling-body {
                    .pt-modal-body {
                      overflow: scroll;
                    }
                  }
                  .pt-modal {
                    min-height: initial;
                    margin: 30px auto;

                    .close-dialog {
                      top: 10px;
                      right: 10px;
                      font-size: 30px;
                    }

                    .pt-modal-header {
                      h3 {
                        font-size: 19px;
                      }
                    }

                    &.large {
                      width: 80%;
                    }
                  }
                }
              }
            }
          }

          .demo-props {
            background-color: $lighter-grey;

            pre {
              padding: 10px
            }
          }
        }
      }
    }
  }
}

.code-props {
  .code-props-details {
    width: 100%;

    th {
      background-color: $light-grey;
      padding: 10px;
      text-align: left;
      border-right:1px solid $light-grey;

      &:last-child {
        border-right: 0px;
      }

      &.type,
      &.required,
      &.default {
        width: 100px;
      }

      &.prop {
        width: 150px;
      }
    }

    td {
      padding: 10px;
      border-right:1px solid $light-grey;

      &:last-child {
        border-right: 0px;
      }

      &.code-props-required {
        text-align: center;
        color: $success-color;
        font-size: 18px;
      }
    }

    tr {
      &:nth-child(even) {
        background-color: lighten($lighter-grey, 2%);
      }
    }
  }
}

.page-pattern {
  background-color: $lighter-grey;
  min-height: 100%;

  header,
  footer {
    background-color: $lighter-grey;
    padding: 20px 0px;
  }

  header {
    background-color: $theme-color-primary;
    color: #fff;
    margin-bottom: 20px;

    h1 {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  footer {
    text-align: center;
  }
}


.button.button-customized {
  font-size: 120%;
  background-color: red;
  color: white;
  font-weight: bold;
}
